<a href="https://colab.research.google.com/github/isabelavp/Programaci-n-en-R/blob/main/Evaluaciones/C1-2/Control_1_completada.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Control 1: Sintaxis básica y manipulación de objetos simples en R

Nombre 1: isabel Veliz                                                                                                                                 <br> 
Nombre 2: _Puede incluir su nombre acá haciendo doble click_   

# Instrucciones

El siguiente test podrá desarrollarlo de manera individual o en pareja con otro(a) de sus compañeros(as).<br>

Lea atentamente cada una de las preguntas propuestas y sea claro en los comentarios (si es que los incluye) de los desarrollos de sus respuestas. Para el desarrollo de las mismas, dispone de celdas de código después de cada pregunta. Sin embargo podrá agregar más celdas si así lo estima conveniente.<br>
Las preguntas formuladas en este test pueden ser abordadas con las herramientas trabajadas en clases, sin embaro, usted podrá hacer uso de las funcionalidades y/o packages que estime convenientes, a menos que se indique explícitamente lo contrario.

## Tiempo y entrega
Dispondrán hasta el día domingo **27 de junio** hasta las 23:59 hrs para hacer envío de sus respuestas.
Una vez finalizado el desarrollo del test, deberá entregarlo teniendo en cuenta las siguientes consideraciones :

 * Descargue el notebook en **formato `*.ipynb`** (uno por pareja), e indique en el nombre del archivo los nombres de los integrantes, `Control1_nombres_integrantes.ipynb`. 
 
 * En caso de trabajar en Rstudio, deberá enviar el script de extensión `*.R` con el siguiente nombre: `Control1_nombres_integrantes.R` , **procurando indicar con comentarios claros, qué pregunta está respondiendo en cada caso**.
 * Envíe el archivo al correo jorge.arevalol@usach.cl, con copia a majorquev@gmail.com con el asunto "DBDC-R-C1: 'nombre y apellido de los integrantes' "
 
**NOTA**: 
   * Los correos cuyo asunto no comiencen con "DBDC-R-C1" no llegarán a destino y por ende no serán calificados.
   * Los archivos que no contengan nombre serán calificados con la nota mínima 1.0.
   * Los correos enviados posterior a la fecha y hora de entrega indicados tendrán una penalización de 1 punto por día (o fracción) de retraso en la entrega, por ejemplo, si usted envía sus respuestas a las 00:05 hrs del lunes 28 de junio, su nota máxima será un 6.0.

# Sección 1

La siguiente línea de código permite cargar en memoria, un objeto de extensión *.rds que está almacenado en el disco de la máquina en la ruta actual de trabajo.

Este archivo contiene la información de los contagios por COVID-19 en nuestsro país, según las cifras oficiales entregadas por el ministerio de salud actualizadas al 08 de julio del 2019. En el archivo encontrará, para cada mes, el total de casos diarios desglosados según:
   * 'casos_nuevos_con_sintomas': casos nuevos con síntomas del día.
   * 'casos_totales' : casos acumulados a la fecha.
   * 'casos_recuperados': casos recuperados acumulados a la fecha.
   * 'fallecidos': casos fallecidos acumulados.
   * 'casos_activos': casos activos a la fecha.
   * 'casos_nuevos_sin_sintomas': casos asintomáticos del día.
   * 'casos_nuevos_totales': suma de  casos asintomáticos más casos con síntomas del día.
 
 Si bien no será utilizados en este trabajo, también econtrán nuevos registros de acuerdo a los últimos cambios en la metodología de conteo. Para más info pueden referirse al siguiente link:
 https://github.com/MinCiencia/Datos-COVID19/tree/master/output/producto5
 
   * 'casos_activos_por_fd'
   * 'casos_activos_por_fis'
   * 'casos_recuperados_por_fis'
   * 'casos_recuperados_por_fd' 
   * 'casos_confirmados_recuperados'
   * 'casos_activos_confirmados'
   * 'casos_probables_acumulados'
   * 'casos_activos_probables'

In [1]:
getwd()

[1] "/content"

In [1]:
setwd("control_1/")

In [2]:
# Carga de casos
casos <- readRDS("covid.rds") # Recuerde que el archivo de estar en su directorio de trabajo

In [3]:
casos

$mar
$mar$casos_nuevos_con_sintomas
   total dia_del_mes
1      1           2
2      0           3
3      2           4
4      1           5
5      1           6
6      2           7
7      3           8
8      5           9
9      2          10
10     6          11
11    10          12
12    10          13
13    18          14
14    14          15
15    81          16
16    45          17
17    37          18
18   104          19
19    92          20
20   103          21
21    95          22
22   114          23
23   176          24
24   220          25
25   164          26
26   304          27
27   299          28
28   230          29
29   310          30
30   289          31

$mar$casos_totales
   total dia_del_mes
1      1           2
2      1           3
3      3           4
4      4           5
5      5           6
6      7           7
7     10           8
8     15           9
9     17          10
10    23          11
11    33          12
12    43          13
13    61          14
14    75          15
15   156          16
16   201          17
17   238          18
18   342          19
19   434          20
20   537          21
21   632          22
22   746          23
23   922          24
24  1142          25
25  1306          26
26  1610          27
27  1909          28
28  2139          29
29  2449          30
30  2738          31

$mar$casos_recuperados
   total dia_del_mes
1      0           2
2      0           3
3      0           4
4      0           5
5      0           6
6      0           7
7      0           8
8      0           9
9      0          10
10     0          11
11     0          12
12     0          13
13     0          14
14     0          15
15     0          16
16     1          17
17     3          18
18     4          19
19     5          20
20     6          21
21     8          22
22    11          23
23    17          24
24    22          25
25    33          26
26    43          27
27    61          28
28    75          29
29   156          30
30   201          31

$mar$fallecidos
   total dia_del_mes
1      0           2
2      0           3
3      0           4
4      0           5
5      0           6
6      0           7
7      0           8
8      0           9
9      0          10
10     0          11
11     0          12
12     0          13
13     0          14
14     0          15
15     0          16
16     0          17
17     0          18
18     0          19
19     0          20
20     0          21
21     1          22
22     1          23
23     2          24
24     3          25
25     4          26
26     5          27
27     6          28
28     7          29
29     8          30
30    12          31

$mar$casos_activos
   total dia_del_mes
1      1           2
2      1           3
3      3           4
4      4           5
5      5           6
6      7           7
7     10           8
8     15           9
9     17          10
10    23          11
11    33          12
12    43          13
13    61          14
14    75          15
15   156          16
16   200          17
17   235          18
18   338          19
19   429          20
20   531          21
21   623          22
22   734          23
23   903          24
24  1117          25
25  1269          26
26  1562          27
27  1842          28
28  2057          29
29  2285          30
30  2525          31

$mar$casos_nuevos_sin_sintomas
   total dia_del_mes
1     NA           2
2     NA           3
3     NA           4
4     NA           5
5     NA           6
6     NA           7
7     NA           8
8     NA           9
9     NA          10
10    NA          11
11    NA          12
12    NA          13
13    NA          14
14    NA          15
15    NA          16
16    NA          17
17    NA          18
18    NA          19
19    NA          20
20    NA          21
21    NA          22
22    NA          23
23    NA          24
24    NA          25
25    NA          26
26    NA          27
27    NA          28
28    NA          29
29    NA          30
30    NA          31

$mar$casos_nuevos_totales
   total dia_del_mes
1      1           2
2      0           3
3      2           4
4      1           5
5      1           6
6      2           7
7      3           8
8      5           9
9      2          10
10     6          11
11    10          12
12    10          13
13    18          14
14    14          15
15    81          16
16    45          17
17    37          18
18   104          19
19    92          20
20   103          21
21    95          22
22   114          23
23   176          24
24   220          25
25   164          26
26   304          27
27   299          28
28   230          29
29   310          30
30   289          31

$mar$casos_activos_por_fd
   total dia_del_mes
1      1           2
2      1           3
3      3           4
4      4           5
5      5           6
6      7           7
7     10           8
8     15           9
9     17          10
10    23          11
11    33          12
12    43          13
13    61          14
14    75          15
15   156          16
16   200          17
17   235          18
18   338          19
19   429          20
20   531          21
21   623          22
22   734          23
23   903          24
24  1117          25
25  1269          26
26  1562          27
27  1842          28
28  2057          29
29  2285          30
30  2525          31

$mar$casos_activos_por_fis
   total dia_del_mes
1     NA           2
2     NA           3
3     NA           4
4     NA           5
5     NA           6
6     NA           7
7     NA           8
8     NA           9
9     NA          10
10    NA          11
11    NA          12
12    NA          13
13    NA          14
14    NA          15
15    NA          16
16    NA          17
17    NA          18
18    NA          19
19    NA          20
20    NA          21
21    NA          22
22    NA          23
23    NA          24
24    NA          25
25    NA          26
26    NA          27
27    NA          28
28    NA          29
29    NA          30
30    NA          31

$mar$casos_recuperados_por_fis
   total dia_del_mes
1     NA           2
2     NA           3
3     NA           4
4     NA           5
5     NA           6
6     NA           7
7     NA           8
8     NA           9
9     NA          10
10    NA          11
11    NA          12
12    NA          13
13    NA          14
14    NA          15
15    NA          16
16    NA          17
17    NA          18
18    NA          19
19    NA          20
20    NA          21
21    NA          22
22    NA          23
23    NA          24
24    NA          25
25    NA          26
26    NA          27
27    NA          28
28    NA          29
29    NA          30
30    NA          31

$mar$casos_recuperados_por_fd
   total dia_del_mes
1      0           2
2      0           3
3      0           4
4      0           5
5      0           6
6      0           7
7      0           8
8      0           9
9      0          10
10     0          11
11     0          12
12     0          13
13     0          14
14     0          15
15     0          16
16     1          17
17     3          18
18     4          19
19     5          20
20     6          21
21     8          22
22    11          23
23    17          24
24    22          25
25    33          26
26    43          27
27    61          28
28    75          29
29   156          30
30   201          31

$mar$casos_confirmados_recuperados
   total dia_del_mes
1     NA           2
2     NA           3
3     NA           4
4     NA           5
5     NA           6
6     NA           7
7     NA           8
8     NA           9
9     NA          10
10    NA          11
11    NA          12
12    NA          13
13    NA          14
14    NA          15
15    NA          16
16    NA          17
17    NA          18
18    NA          19
19    NA          20
20    NA          21
21    NA          22
22    NA          23
23    NA          24
24    NA          25
25    NA          26
26    NA          27
27    NA          28
28    NA          29
29    NA          30
30    NA          31

$mar$casos_activos_confirmados
   total dia_del_mes
1     NA           2
2     NA           3
3     NA           4
4     NA           5
5     NA           6
6     NA           7
7     NA           8
8     NA           9
9     NA          10
10    NA          11
11    NA          12
12    NA          13
13    NA          14
14    NA          15
15    NA          16
16    NA          17
17    NA          18
18    NA          19
19    NA          20
20    NA          21
21    NA          22
22    NA          23
23    NA          24
24    NA          25
25    NA          26
26    NA          27
27    NA          28
28    NA          29
29    NA          30
30    NA          31

$mar$casos_probables_acumulados
   total dia_del_mes
1     NA           2
2     NA           3
3     NA           4
4     NA           5
5     NA           6
6     NA           7
7     NA           8
8     NA           9
9     NA          10
10    NA          11
11    NA          12
12    NA          13
13    NA          14
14    NA          15
15    NA          16
16    NA          17
17    NA          18
18    NA          19
19    NA          20
20    NA          21
21    NA          22
22    NA          23
23    NA          24
24    NA          25
25    NA          26
26    NA          27
27    NA          28
28    NA          29
29    NA          30
30    NA          31

$mar$casos_activos_probables
   total dia_del_mes
1     NA           2
2     NA           3
3     NA           4
4     NA           5
5     NA           6
6     NA           7
7     NA           8
8     NA           9
9     NA          10
10    NA          11
11    NA          12
12    NA          13
13    NA          14
14    NA          15
15    NA          16
16    NA          17
17    NA          18
18    NA          19
19    NA          20
20    NA          21
21    NA          22
22    NA          23
23    NA          24
24    NA          25
25    NA          26
26    NA          27
27    NA          28
28    NA          29
29    NA          30
30    NA          31


$abr
$abr$casos_nuevos_con_sintomas
   total dia_del_mes
1    293           1
2    373           2
3    333           3
4    424           4
5    310           5
6    344           6
7    301           7
8    430           8
9    426           9
10   529          10
11   426          11
12   286          12
13   312          13
14   392          14
15   356          15
16   534          16
17   445          17
18   478          18
19   358          19
20   419          20
21   325          21
22   464          22
23   516          23
24   494          24
25   552          25
26   473          26
27   482          27
28   552          28
29   520          29
30   780          30

$abr$casos_totales
   total dia_del_mes
1   3031           1
2   3404           2
3   3737           3
4   4161           4
5   4471           5
6   4815           6
7   5116           7
8   5546           8
9   5972           9
10  6501          10
11  6927          11
12  7213          12
13  7525          13
14  7917          14
15  8273          15
16  8807          16
17  9252          17
18  9730          18
19 10088          19
20 10507          20
21 10832          21
22 11296          22
23 11812          23
24 12306          24
25 12858          25
26 13331          26
27 13813          27
28 14365          28
29 15135          29
30 16023          30

$abr$casos_recuperados
   total dia_del_mes
1    234           1
2    335           2
3    427           3
4    528           4
5    617           5
6    728           6
7    898           7
8   1115           8
9   1274           9
10  1571          10
11  1864          11
12  2059          12
13  2367          13
14  2646          14
15  2937          15
16  3299          16
17  3621          17
18  4035          18
19  4338          19
20  4676          20
21  4969          21
22  5386          22
23  5804          23
24  6327          24
25  6746          25
26  7024          26
27  7327          27
28  7710          28
29  8057          29
30  8580          30

$abr$fallecidos
   total dia_del_mes
1     16           1
2     18           2
3     22           3
4     27           4
5     34           5
6     37           6
7     43           7
8     48           8
9     57           9
10    65          10
11    73          11
12    80          12
13    82          13
14    92          14
15    94          15
16   105          16
17   116          17
18   126          18
19   133          19
20   139          20
21   147          21
22   160          22
23   168          23
24   174          24
25   181          25
26   189          26
27   198          27
28   207          28
29   216          29
30   227          30

$abr$casos_activos
   total dia_del_mes
1   2781           1
2   3051           2
3   3288           3
4   3606           4
5   3820           5
6   4050           6
7   4175           7
8   4383           8
9   4641           9
10  4865          10
11  4990          11
12  5074          12
13  5076          13
14  5179          14
15  5242          15
16  5403          16
17  5515          17
18  5569          18
19  5617          19
20  5692          20
21  5716          21
22  5750          22
23  5840          23
24  5805          24
25  5931          25
26  6118          26
27  6288          27
28  6448          28
29  6862          29
30  7216          30

$abr$casos_nuevos_sin_sintomas
   total dia_del_mes
1     NA           1
2     NA           2
3     NA           3
4     NA           4
5     NA           5
6     NA           6
7     NA           7
8     NA           8
9     NA           9
10    NA          10
11    NA          11
12    NA          12
13    NA          13
14    NA          14
15    NA          15
16    NA          16
17    NA          17
18    NA          18
19    NA          19
20    NA          20
21    NA          21
22    NA          22
23    NA          23
24    NA          24
25    NA          25
26    NA          26
27    NA          27
28    NA          28
29   250          29
30   108          30

$abr$casos_nuevos_totales
   total dia_del_mes
1    293           1
2    373           2
3    333           3
4    424           4
5    310           5
6    344           6
7    301           7
8    430           8
9    426           9
10   529          10
11   426          11
12   286          12
13   312          13
14   392          14
15   356          15
16   534          16
17   445          17
18   478          18
19   358          19
20   419          20
21   325          21
22   464          22
23   516          23
24   494          24
25   552          25
26   473          26
27   482          27
28   552          28
29   770          29
30   888          30

$abr$casos_activos_por_fd
   total dia_del_mes
1   2781           1
2   3051           2
3   3288           3
4   3606           4
5   3820           5
6   4050           6
7   4175           7
8   4383           8
9   4641           9
10  4865          10
11  4990          11
12  5074          12
13  5076          13
14  5179          14
15  5242          15
16  5403          16
17  5515          17
18  5569          18
19  5617          19
20  5692          20
21  5716          21
22  5750          22
23  5840          23
24  5805          24
25  5931          25
26  6118          26
27  6288          27
28  6448          28
29  6862          29
30  7216          30

$abr$casos_activos_por_fis
   total dia_del_mes
1     NA           1
2     NA           2
3     NA           3
4     NA           4
5     NA           5
6     NA           6
7     NA           7
8     NA           8
9     NA           9
10    NA          10
11    NA          11
12    NA          12
13    NA          13
14    NA          14
15    NA          15
16    NA          16
17    NA          17
18    NA          18
19    NA          19
20    NA          20
21    NA          21
22    NA          22
23    NA          23
24    NA          24
25    NA          25
26    NA          26
27    NA          27
28    NA          28
29    NA          29
30    NA          30

$abr$casos_recuperados_por_fis
   total dia_del_mes
1     NA           1
2     NA           2
3     NA           3
4     NA           4
5     NA           5
6     NA           6
7     NA           7
8     NA           8
9     NA           9
10    NA          10
11    NA          11
12    NA          12
13    NA          13
14    NA          14
15    NA          15
16    NA          16
17    NA          17
18    NA          18
19    NA          19
20    NA          20
21    NA          21
22    NA          22
23    NA          23
24    NA          24
25    NA          25
26    NA          26
27    NA          27
28    NA          28
29    NA          29
30    NA          30

$abr$casos_recuperados_por_fd
   total dia_del_mes
1    234           1
2    335           2
3    427           3
4    528           4
5    617           5
6    728           6
7    898           7
8   1115           8
9   1274           9
10  1571          10
11  1864          11
12  2059          12
13  2367          13
14  2646          14
15  2937          15
16  3299          16
17  3621          17
18  4035          18
19  4338          19
20  4676          20
21  4969          21
22  5386          22
23  5804          23
24  6327          24
25  6746          25
26  7024          26
27  7327          27
28  7710          28
29  8057          29
30  8580          30

$abr$casos_confirmados_recuperados
   total dia_del_mes
1     NA           1
2     NA           2
3     NA           3
4     NA           4
5     NA           5
6     NA           6
7     NA           7
8     NA           8
9     NA           9
10    NA          10
11    NA          11
12    NA          12
13    NA          13
14    NA          14
15    NA          15
16    NA          16
17    NA          17
18    NA          18
19    NA          19
20    NA          20
21    NA          21
22    NA          22
23    NA          23
24    NA          24
25    NA          25
26    NA          26
27    NA          27
28    NA          28
29    NA          29
30    NA          30

$abr$casos_activos_confirmados
   total dia_del_mes
1     NA           1
2     NA           2
3     NA           3
4     NA           4
5     NA           5
6     NA           6
7     NA           7
8     NA           8
9     NA           9
10    NA          10
11    NA          11
12    NA          12
13    NA          13
14    NA          14
15    NA          15
16    NA          16
17    NA          17
18    NA          18
19    NA          19
20    NA          20
21    NA          21
22    NA          22
23    NA          23
24    NA          24
25    NA          25
26    NA          26
27    NA          27
28    NA          28
29    NA          29
30    NA          30

$abr$casos_probables_acumulados
   total dia_del_mes
1     NA           1
2     NA           2
3     NA           3
4     NA           4
5     NA           5
6     NA           6
7     NA           7
8     NA           8
9     NA           9
10    NA          10
11    NA          11
12    NA          12
13    NA          13
14    NA          14
15    NA          15
16    NA          16
17    NA          17
18    NA          18
19    NA          19
20    NA          20
21    NA          21
22    NA          22
23    NA          23
24    NA          24
25    NA          25
26    NA          26
27    NA          27
28    NA          28
29    NA          29
30    NA          30

$abr$casos_activos_probables
   total dia_del_mes
1     NA           1
2     NA           2
3     NA           3
4     NA           4
5     NA           5
6     NA           6
7     NA           7
8     NA           8
9     NA           9
10    NA          10
11    NA          11

In [5]:
str(casos)

List of 5
 $ mar:List of 15
  ..$ casos_nuevos_con_sintomas    :'data.frame':	30 obs. of  2 variables:
  .. ..$ total      : num [1:30] 1 0 2 1 1 2 3 5 2 6 ...
  .. ..$ dia_del_mes: int [1:30] 2 3 4 5 6 7 8 9 10 11 ...
  ..$ casos_totales                :'data.frame':	30 obs. of  2 variables:
  .. ..$ total      : num [1:30] 1 1 3 4 5 7 10 15 17 23 ...
  .. ..$ dia_del_mes: int [1:30] 2 3 4 5 6 7 8 9 10 11 ...
  ..$ casos_recuperados            :'data.frame':	30 obs. of  2 variables:
  .. ..$ total      : num [1:30] 0 0 0 0 0 0 0 0 0 0 ...
  .. ..$ dia_del_mes: int [1:30] 2 3 4 5 6 7 8 9 10 11 ...
  ..$ fallecidos                   :'data.frame':	30 obs. of  2 variables:
  .. ..$ total      : num [1:30] 0 0 0 0 0 0 0 0 0 0 ...
  .. ..$ dia_del_mes: int [1:30] 2 3 4 5 6 7 8 9 10 11 ...
  ..$ casos_activos                :'data.frame':	30 obs. of  2 variables:
  .. ..$ total      : num [1:30] 1 1 3 4 5 7 10 15 17 23 ...
  .. ..$ dia_del_mes: int [1:30] 2 3 4 5 6 7 8 9 10 11 ...
  ..$ casos_nuevos_sin_sintomas    :'data.frame':	30 obs. of  2 variables:
  .. ..$ total      : num [1:30] NA NA NA NA NA NA NA NA NA NA ...
  .. ..$ dia_del_mes: int [1:30] 2 3 4 5 6 7 8 9 10 11 ...
  ..$ casos_nuevos_totales         :'data.frame':	30 obs. of  2 variables:
  .. ..$ total      : num [1:30] 1 0 2 1 1 2 3 5 2 6 ...
  .. ..$ dia_del_mes: int [1:30] 2 3 4 5 6 7 8 9 10 11 ...
  ..$ casos_activos_por_fd         :'data.frame':	30 obs. of  2 variables:
  .. ..$ total      : num [1:30] 1 1 3 4 5 7 10 15 17 23 ...
  .. ..$ dia_del_mes: int [1:30] 2 3 4 5 6 7 8 9 10 11 ...
  ..$ casos_activos_por_fis        :'data.frame':	30 obs. of  2 variables:
  .. ..$ total      : num [1:30] NA NA NA NA NA NA NA NA NA NA ...
  .. ..$ dia_del_mes: int [1:30] 2 3 4 5 6 7 8 9 10 11 ...
  ..$ casos_recuperados_por_fis    :'data.frame':	30 obs. of  2 variables:
  .. ..$ total      : num [1:30] NA NA NA NA NA NA NA NA NA NA ...
  .. ..$ dia_del_mes: int [1:30] 2 3 4 5 6 7 8 9 10 11 ...
  ..$ casos_recuperados_por_fd     :'data.frame':	30 obs. of  2 variables:
  .. ..$ total      : num [1:30] 0 0 0 0 0 0 0 0 0 0 ...
  .. ..$ dia_del_mes: int [1:30] 2 3 4 5 6 7 8 9 10 11 ...
  ..$ casos_confirmados_recuperados:'data.frame':	30 obs. of  2 variables:
  .. ..$ total      : num [1:30] NA NA NA NA NA NA NA NA NA NA ...
  .. ..$ dia_del_mes: int [1:30] 2 3 4 5 6 7 8 9 10 11 ...
  ..$ casos_activos_confirmados    :'data.frame':	30 obs. of  2 variables:
  .. ..$ total      : num [1:30] NA NA NA NA NA NA NA NA NA NA ...
  .. ..$ dia_del_mes: int [1:30] 2 3 4 5 6 7 8 9 10 11 ...
  ..$ casos_probables_acumulados   :'data.frame':	30 obs. of  2 variables:
  .. ..$ total      : num [1:30] NA NA NA NA NA NA NA NA NA NA ...
  .. ..$ dia_del_mes: int [1:30] 2 3 4 5 6 7 8 9 10 11 ...
  ..$ casos_activos_probables      :'data.frame':	30 obs. of  2 variables:
  .. ..$ total      : num [1:30] NA NA NA NA NA NA NA NA NA NA ...
  .. ..$ dia_del_mes: int [1:30] 2 3 4 5 6 7 8 9 10 11 ...
 $ abr:List of 15
  ..$ casos_nuevos_con_sintomas    :'data.frame':	30 obs. of  2 variables:
  .. ..$ total      : num [1:30] 293 373 333 424 310 344 301 430 426 529 ...
  .. ..$ dia_del_mes: int [1:30] 1 2 3 4 5 6 7 8 9 10 ...
  ..$ casos_totales                :'data.frame':	30 obs. of  2 variables:
  .. ..$ total      : num [1:30] 3031 3404 3737 4161 4471 ...
  .. ..$ dia_del_mes: int [1:30] 1 2 3 4 5 6 7 8 9 10 ...
  ..$ casos_recuperados            :'data.frame':	30 obs. of  2 variables:
  .. ..$ total      : num [1:30] 234 335 427 528 617 ...
  .. ..$ dia_del_mes: int [1:30] 1 2 3 4 5 6 7 8 9 10 ...
  ..$ fallecidos                   :'data.frame':	30 obs. of  2 variables:
  .. ..$ total      : num [1:30] 16 18 22 27 34 37 43 48 57 65 ...
  .. ..$ dia_del_mes: int [1:30] 1 2 3 4 5 6 7 8 9 10 ...
  ..$ casos_activos                :'data.frame':	30 obs. of  2 variables:
  .. ..$ total      : num [1:30] 2781 3051 3288 3606 3820 ...
  .. ..$ dia_del_mes: int [1:30] 1 2 3 4 5 6 7 8 9 10 ...
  ..$ casos_nuevos_sin_sintomas    :'data.frame':	30 obs. of  2 variables:
  .. ..$ total      : num [1:30] NA NA NA NA NA NA NA NA NA NA ...
  .. ..$ dia_del_mes: int [1:30] 1 2 3 4 5 6 7 8 9 10 ...
  ..$ casos_nuevos_totales         :'data.frame':	30 obs. of  2 variables:
  .. ..$ total      : num [1:30] 293 373 333 424 310 344 301 430 426 529 ...
  .. ..$ dia_del_mes: int [1:30] 1 2 3 4 5 6 7 8 9 10 ...
  ..$ casos_activos_por_fd         :'data.frame':	30 obs. of  2 variables:
  .. ..$ total      : num [1:30] 2781 3051 3288 3606 3820 ...
  .. ..$ dia_del_mes: int [1:30] 1 2 3 4 5 6 7 8 9 10 ...
  ..$ casos_activos_por_fis        :'data.frame':	30 obs. of  2 variables:
  .. ..$ total      : num [1:30] NA NA NA NA NA NA NA NA NA NA ...
  .. ..$ dia_del_mes: int [1:30] 1 2 3 4 5 6 7 8 9 10 ...
  ..$ casos_recuperados_por_fis    :'data.frame':	30 obs. of  2 variables:
  .. ..$ total      : num [1:30] NA NA NA NA NA NA NA NA NA NA ...
  .. ..$ dia_del_mes: int [1:30] 1 2 3 4 5 6 7 8 9 10 ...
  ..$ casos_recuperados_por_fd     :'data.frame':	30 obs. of  2 variables:
  .. ..$ total      : num [1:30] 234 335 427 528 617 ...
  .. ..$ dia_del_mes: int [1:30] 1 2 3 4 5 6 7 8 9 10 ...
  ..$ casos_confirmados_recuperados:'data.frame':	30 obs. of  2 variables:
  .. ..$ total      : num [1:30] NA NA NA NA NA NA NA NA NA NA ...
  .. ..$ dia_del_mes: int [1:30] 1 2 3 4 5 6 7 8 9 10 ...
  ..$ casos_activos_confirmados    :'data.frame':	30 obs. of  2 variables:
  .. ..$ total      : num [1:30] NA NA NA NA NA NA NA NA NA NA ...
  .. ..$ dia_del_mes: int [1:30] 1 2 3 4 5 6 7 8 9 10 ...
  ..$ casos_probables_acumulados   :'data.frame':	30 obs. of  2 variables:
  .. ..$ total      : num [1:30] NA NA NA NA NA NA NA NA NA NA ...
  .. ..$ dia_del_mes: int [1:30] 1 2 3 4 5 6 7 8 9 10 ...
  ..$ casos_activos_probables      :'data.frame':	30 obs. of  2 variables:
  .. ..$ total      : num [1:30] NA NA NA NA NA NA NA NA NA NA ...
  .. ..$ dia_del_mes: int [1:30] 1 2 3 4 5 6 7 8 9 10 ...
 $ may:List of 15
  ..$ casos_nuevos_con_sintomas    :'data.frame':	31 obs. of  2 variables:
  .. ..$ total      : num [1:31] 882 1246 1112 876 1317 ...
  .. ..$ dia_del_mes: int [1:31] 1 2 3 4 5 6 7 8 9 10 ...
  ..$ casos_totales                :'data.frame':	31 obs. of  2 variables:
  .. ..$ total      : num [1:31] 17008 18435 19663 20643 22016 ...
  .. ..$ dia_del_mes: int [1:31] 1 2 3 4 5 6 7 8 9 10 ...
  ..$ casos_recuperados            :'data.frame':	31 obs. of  2 variables:
  .. ..$ total      : num [1:31] 9018 9572 10041 10415 10710 ...
  .. ..$ dia_del_mes: int [1:31] 1 2 3 4 5 6 7 8 9 10 ...
  ..$ fallecidos                   :'data.frame':	31 obs. of  2 variables:
  .. ..$ total      : num [1:31] 234 247 260 270 275 281 285 294 304 312 ...
  .. ..$ dia_del_mes: int [1:31] 1 2 3 4 5 6 7 8 9 10 ...
  ..$ casos_activos                :'data.frame':	31 obs. of  2 variables:
  .. ..$ total      : num [1:31] 7756 8616 9362 9958 11031 ...
  .. ..$ dia_del_mes: int [1:31] 1 2 3 4 5 6 7 8 9 10 ...
  ..$ casos_nuevos_sin_sintomas    :'data.frame':	31 obs. of  2 variables:
  .. ..$ total      : num [1:31] 103 181 116 104 56 139 190 208 243 241 ...
  .. ..$ dia_del_mes: int [1:31] 1 2 3 4 5 6 7 8 9 10 ...
  ..$ casos_nuevos_totales         :'data.frame':	31 obs. of  2 variables:
  .. ..$ total      : num [1:31] 985 1427 1228 980 1373 ...
  .. ..$ dia_del_mes: int [1:31] 1 2 3 4 5 6 7 8 9 10 ...
  ..$ casos_activos_por_fd         :'data.frame':	31 obs. of  2 variables:
  .. ..$ total      : num [1:31] 7756 8616 9362 9958 11031 ...
  .. ..$ dia_del_mes: int [1:31] 1 2 3 4 5 6 7 8 9 10 ...
  ..$ casos_activos_por_fis        :'data.frame':	31 obs. of  2 variables:
  .. ..$ total      : num [1:31] NA NA NA NA NA NA NA NA NA NA ...
  .. ..$ dia_del_mes: int [1:31] 1 2 3 4 5 6 7 8 9 10 ...
  ..$ casos_recuperados_por_fis    :'data.frame':	31 obs. of  2 variables:
  .. ..$ total      : num [1:31] NA NA NA NA NA NA NA NA NA NA ...
  .. ..$ dia_del_mes: int [1:31] 1 2 3 4 5 6 7 8 9 10 ...
  ..$ casos_recuperados_por_fd     :'data.frame':	31 obs. of  2 variables:
  .. ..$ total      : num [1:31] 9018 9572 10041 10415 10710 ...
  .. ..$ dia_del_mes: int [1:31] 1 2 3 4 5 6 7 8 9 10 ...
  ..$ casos_confirmados_recuperados:'data.frame':	31 obs. of  2 variables:
  .. ..$ total      : num [1:31] NA NA NA NA NA NA NA NA NA NA ...
  .. ..$ dia_del_mes: int [1:31] 1 2 3 4 5 6 7 8 9 10 ...
  ..$ casos_activos_confirmados    :'data.frame':	31 obs. of  2 variables:
  .. ..$ total      : num [1:31] NA NA NA NA NA NA NA NA NA NA ...
  .. ..$ dia_del_mes: int [1:31] 1 2 3 4 5 6 7 8 9 10 ...
  ..$ casos_probables_acumulados   :'data.frame':	31 obs. of  2 variables:
  .. ..$ total      : num [1:31] NA NA NA NA NA NA NA NA NA NA ...
  .. ..$ dia_del_mes: int [1:31] 1 2 3 4 5 6 7 8 9 10 ...
  ..$ casos_activos_probables      :'data.frame':	31 obs. of  2 variables:
  .. ..$ total      : num [1:31] NA NA NA NA NA NA NA NA NA NA ...
  .. ..$ dia_del_mes: int [1:31] 1 2 3 4 5 6 7 8 9 10 ...
 $ jun:List of 15
  ..$ casos_nuevos_con_sintomas    :'data.frame':	30 obs. of  2 variables:
  .. ..$ total      : num [1:30] 5082 3206 4537 4172 3790 ...
  .. ..$ dia_del_mes: int [1:30] 1 2 3 4 5 6 7 8 9 10 ...
  ..$ casos_totales                :'data.frame':	30 obs. of  2 variables:
  .. ..$ total      : num [1:30] 105159 108686 113628 118292 122499 ...
  .. ..$ dia_del_mes: int [1:30] 1 2 3 4 5 6 7 8 9 10 ...
  ..$ casos_recuperados            :'data.frame':	30 obs. of  2 variables:
  .. ..$ total      : num [1:30] 44946 NA NA NA NA ...
  .. ..$ dia_del_mes: int [1:30] 1 2 3 4 5 6 7 8 9 10 ...
  ..$ fallecidos                   :'data.frame':	30 obs. of  2 variables:
  .. ..$ total      : num [1:30] 1113 1188 1275 1356 1448 ...
  .. ..$ dia_del_mes: int [1:30] 1 2 3 4 5 6 7 8 9 10 ...
  ..$ casos_activos                :'data.frame':	30 obs. of  2 variables:
  .. ..$ total      : num [1:30] 59100 21325 21605 21305 21693 ...
  .. ..$ dia_del_mes: int [1:30] 1 2 3 4 5 6 7 8 9 10 ...
  ..$ casos_nuevos_sin_sintomas    :'data.frame':	30 obs. of  2 variables:
  .. ..$ total      : num [1:30] 389 321 405 492 417 358 645 459 326 511 ...
  .. ..$ dia_del_mes: int [1:30] 1 2 3 4 5 6 7 8 9 10 ...
  ..$ casos_nuevos_totales         :'data.frame':	30 obs. of  2 variables:
  .. ..$ total      : num [1:30] 5471 3527 4942 4664 4207 ...
  .. ..$ dia_del_mes: int [1:30] 1 2 3 4 5 6 7 8 9 10 ...
  ..$ casos_activos_por_fd         :'data.frame':	30 obs. of  2 variables:
  .. ..$ total      : num [1:30] 59100 59107 60011 60711 60642 ...
  .. ..$ dia_del_mes: int [1:30] 1 2 3 4 5 6 7 8 9 10 ...
  ..$ casos_activos_por_fis        :'data.frame':	30 obs. of  2 variables:
  .. ..$ total      : num [1:30] NA 21325 21605 21305 21693 ...
  .. ..$ dia_del_mes: int [1:30] 1 2 3 4 5 6 7 8 9 10 ...
  ..$ casos_recuperados_por_fis    :'data.frame':	30 obs. of  2 variables:
  .. ..$ total      : num [1:30] NA 86173 90748 95631 99358 ...
  .. ..$ dia_del_mes: int [1:30] 1 2 3 4 5 6 7 8 9 10 ...
  ..$ casos_recuperados_por_fd     :'data.frame':	30 obs. of  2 variables:
  .. ..$ total      : num [1:30] 44946 48391 52342 56225 60409 ...
  .. ..$ dia_del_mes: int [1:30] 1 2 3 4 5 6 7 8 9 10 ...
  ..$ casos_confirmados_recuperados:'data.frame':	30 obs. of  2 variables:
  .. ..$ total      : num [1:30] NA NA NA NA NA NA NA NA NA NA ...
  .. ..$ dia_del_mes: int [1:30] 1 2 3 4 5 6 7 8 9 10 ...
  ..$ casos_activos_confirmados    :'data.frame':	30 obs. of  2 variables:
  .. ..$ total      : num [1:30] NA NA NA NA NA NA NA NA NA NA ...
  .. ..$ dia_del_mes: int [1:30] 1 2 3 4 5 6 7 8 9 10 ...
  ..$ casos_probables_acumulados   :'data.frame':	30 obs. of  2 variables:
  .. ..$ total      : num [1:30] NA NA NA NA NA NA NA NA NA NA ...
  .. ..$ dia_del_mes: int [1:30] 1 2 3 4 5 6 7 8 9 10 ...
  ..$ casos_activos_probables      :'data.frame':	30 obs. of  2 variables:
  .. ..$ total      : num [1:30] NA NA NA NA NA NA NA NA NA NA ...
  .. ..$ dia_del_mes: int [1:30] 1 2 3 4 5 6 7 8 9 10 ...
 $ jul:List of 15
  ..$ casos_nuevos_con_sintomas    :'data.frame':	8 obs. of  2 variables:
  .. ..$ total      : num [1:8] 2134 2042 2703 2951 2852 ...
  .. ..$ dia_del_mes: int [1:8] 1 2 3 4 5 6 7 8
  ..$ casos_totales                :'data.frame':	8 obs. of  2 variables:
  .. ..$ total      : num [1:8] 282043 284541 288089 291847 295532 ...
  .. ..$ dia_del_mes: int [1:8] 1 2 3 4 5 6 7 8
  ..$ casos_recuperados            :'data.frame':	8 obs. of  2 variables:
  .. ..$ total      : num [1:8] NA NA NA NA NA NA NA NA
  .. ..$ dia_del_mes: int [1:8] 1 2 3 4 5 6 7 8
  ..$ fallecidos                   :'data.frame':	8 obs. of  2 variables:
  .. ..$ total      : num [1:8] 5753 5920 6051 6192 6308 ...
  .. ..$ dia_del_mes: int [1:8] 1 2 3 4 5 6 7 8
  ..$ casos_activos                :'data.frame':	8 obs. of  2 variables:
  .. ..$ total      : num [1:8] 30847 29374 28695 28210 28194 ...
  .. ..$ dia_del_mes: int [1:8] 1 2 3 4 5 6 7 8
  ..$ casos_nuevos_sin_sintomas    :'data.frame':	8 obs. of  2 variables:
  .. ..$ total      : num [1:8] 300 230 322 371 438 404 266 265
  .. ..$ dia_del_mes: int [1:8] 1 2 3 4 5 6 7 8
  ..$ casos_nuevos_totales         :'data.frame':	8 obs. of  2 variables:
  .. ..$ total      : num [1:8] 2650 2498 3548 3758 3685 ...
  .. ..$ dia_del_mes: int [1:8] 1 2 3 4 5 6 7 8
  ..$ casos_activos_por_fd         :'data.frame':	8 obs. of  2 variables:
  .. ..$ total      : num [1:8] 61415 59438 56696 55099 53177 ...
  .. ..$ dia_del_mes: int [1:8] 1 2 3 4 5 6 7 8
  ..$ casos_activos_por_fis        :'data.frame':	8 obs. of  2 variables:
  .. ..$ total      : num [1:8] 30847 29374 28695 28210 28194 ...
  .. ..$ dia_del_mes: int [1:8] 1 2 3 4 5 6 7 8
  ..$ casos_recuperados_por_fis    :'data.frame':	8 obs. of  2 variables:
  .. ..$ total      : num [1:8] 245443 249247 253343 257445 261030 ...
  .. ..$ dia_del_mes: int [1:8] 1 2 3 4 5 6 7 8
  ..$ casos_recuperados_por_fd     :'data.frame':	8 obs. of  2 variables:
  .. ..$ total      : num [1:8] 214875 219183 225342 230556 236047 ...
  .. ..$ dia_del_mes: int [1:8] 1 2 3 4 5 6 7 8
  ..$ casos_confirmados_recuperados:'data.frame':	8 obs. of  2 variables:
  .. ..$ total      : num [1:8] 245443 249247 253343 257445 261032 ...
  .. ..$ dia_del_mes: int [1:8] 1 2 3 4 5 6 7 8
  ..$ casos_activos_confirmados    :'data.frame':	8 obs. of  2 variables:
  .. ..$ total      : num [1:8] 30847 29374 28695 28210 28194 ...
  .. ..$ dia_del_mes: int [1:8] 1 2 3 4 5 6 7 8
  ..$ casos_probables_acumulados   :'data.frame':	8 obs. of  2 variables:
  .. ..$ total      : num [1:8] 30980 32013 32578 33933 34651 ...
  .. ..$ dia_del_mes: int [1:8] 1 2 3 4 5 6 7 8
  ..$ casos_activos_probables      :'data.frame':	8 obs. of  2 variables:
  .. ..$ total      : num [1:8] 7806 7921 7543 7986 7785 ...
  .. ..$ dia_del_mes: int [1:8] 1 2 3 4 5 6 7 8

In [6]:
ls(casos$jun)

 [1] "casos_activos"                 "casos_activos_confirmados"
 [3] "casos_activos_por_fd"          "casos_activos_por_fis"
 [5] "casos_activos_probables"       "casos_confirmados_recuperados"
 [7] "casos_nuevos_con_sintomas"     "casos_nuevos_sin_sintomas"
 [9] "casos_nuevos_totales"          "casos_probables_acumulados"
[11] "casos_recuperados"             "casos_recuperados_por_fd"
[13] "casos_recuperados_por_fis"     "casos_totales"
[15] "fallecidos"

## Pregunta 1.1

**1a) (1pt)** ¿Qué clase de objetos es `casos`? <br>
**1b) (1pt)** ¿Cuántos elementos posee este objeto?<br>
**1c) (1pt)** ¿Cuáles son los nombres de este objeto?<br>
**1d) (2pt)** ¿Qué clase de objeto está almacenado en sl _slot_ correspondiente al mes de junio ("jun") y cuántos elementos posee?<br>
**1e) (2pt)** Para el mes de junio, ¿a qué clase de objeto corresponde `casos_totales` y cuántos elementos posee?

In [8]:
# P1.1
## Respuesta 1a:
#casos es un objeto tipo list - list -data.frame - vector   
#                      se verifica con:
#                      class(casos), 
#                       class(casos$may), 
#                        class(casos$may$casos_activos) y 
#                         class(casos$may$casos_activos$total).
#se verifica con:
str(casos)

## Respuesta 1b:
length(casos)
5
# El objeto casos se compone de 5 elementos principales, pero se desglosa en los siguientes:
# casos <-list (5 elementos) < - list (15 elementos) <- un data.frame de 2 vectores (2 elementos)
#total 150 elementos

##Respuesta 1c: 
#el objeto casos tiene 5 nombres: 'mar''abr''may''jun''jul'. Se verifica con la
names(casos)
#se desglosa en los siguientes:
#mar <- = list(casos_nuevos_con_sintomas = data.frame(total, dia_del_mes),casos_totales= data.frame(total, dia_del_mes),casos_recuperados= data.frame(total, dia_del_mes),fallecidos= data.frame(total, dia_del_mes),casos_activos= data.frame(total, dia_del_mes),casos_nuevos_sin_sintomas= data.frame(total, dia_del_mes),casos_nuevos_totales= data.frame(total, dia_del_mes),casos_activos_por_fd= data.frame(total, dia_del_mes),casos_activos_por_fis= data.frame(total, dia_del_mes),casos_recuperados_por_fis= data.frame(total, dia_del_mes),casos_recuperados_por_fd,casos_confirmados_recuperados= data.frame(total, dia_del_mes),casos_activos_confirmados= data.frame(total, dia_del_mes),casos_probables_acumulados= data.frame(total, dia_del_mes),casos_activos_probables= data.frame(total, dia_del_mes)
#abr <- = list(casos_nuevos_con_sintomas = data.frame(total, dia_del_mes),casos_totales= data.frame(total, dia_del_mes),casos_recuperados= data.frame(total, dia_del_mes),fallecidos= data.frame(total, dia_del_mes),casos_activos= data.frame(total, dia_del_mes),casos_nuevos_sin_sintomas= data.frame(total, dia_del_mes),casos_nuevos_totales= data.frame(total, dia_del_mes),casos_activos_por_fd= data.frame(total, dia_del_mes),casos_activos_por_fis= data.frame(total, dia_del_mes),casos_recuperados_por_fis= data.frame(total, dia_del_mes),casos_recuperados_por_fd,casos_confirmados_recuperados= data.frame(total, dia_del_mes),casos_activos_confirmados= data.frame(total, dia_del_mes),casos_probables_acumulados= data.frame(total, dia_del_mes),casos_activos_probables= data.frame(total, dia_del_mes)
#may <- = list(casos_nuevos_con_sintomas = data.frame(total, dia_del_mes),casos_totales= data.frame(total, dia_del_mes),casos_recuperados= data.frame(total, dia_del_mes),fallecidos= data.frame(total, dia_del_mes),casos_activos= data.frame(total, dia_del_mes),casos_nuevos_sin_sintomas= data.frame(total, dia_del_mes),casos_nuevos_totales= data.frame(total, dia_del_mes),casos_activos_por_fd= data.frame(total, dia_del_mes),casos_activos_por_fis= data.frame(total, dia_del_mes),casos_recuperados_por_fis= data.frame(total, dia_del_mes),casos_recuperados_por_fd,casos_confirmados_recuperados= data.frame(total, dia_del_mes),casos_activos_confirmados= data.frame(total, dia_del_mes),casos_probables_acumulados= data.frame(total, dia_del_mes),casos_activos_probables= data.frame(total, dia_del_mes)
#jun <- = list(casos_nuevos_con_sintomas = data.frame(total, dia_del_mes),casos_totales= data.frame(total, dia_del_mes),casos_recuperados= data.frame(total, dia_del_mes),fallecidos= data.frame(total, dia_del_mes),casos_activos= data.frame(total, dia_del_mes),casos_nuevos_sin_sintomas= data.frame(total, dia_del_mes),casos_nuevos_totales= data.frame(total, dia_del_mes),casos_activos_por_fd= data.frame(total, dia_del_mes),casos_activos_por_fis= data.frame(total, dia_del_mes),casos_recuperados_por_fis= data.frame(total, dia_del_mes),casos_recuperados_por_fd,casos_confirmados_recuperados= data.frame(total, dia_del_mes),casos_activos_confirmados= data.frame(total, dia_del_mes),casos_probables_acumulados= data.frame(total, dia_del_mes),casos_activos_probables= data.frame(total, dia_del_mes)
#jul <- = list(casos_nuevos_con_sintomas = data.frame(total, dia_del_mes),casos_totales= data.frame(total, dia_del_mes),casos_recuperados= data.frame(total, dia_del_mes),fallecidos= data.frame(total, dia_del_mes),casos_activos= data.frame(total, dia_del_mes),casos_nuevos_sin_sintomas= data.frame(total, dia_del_mes),casos_nuevos_totales= data.frame(total, dia_del_mes),casos_activos_por_fd= data.frame(total, dia_del_mes),casos_activos_por_fis= data.frame(total, dia_del_mes),casos_recuperados_por_fis= data.frame(total, dia_del_mes),casos_recuperados_por_fd,casos_confirmados_recuperados= data.frame(total, dia_del_mes),casos_activos_confirmados= data.frame(total, dia_del_mes),casos_probables_acumulados= data.frame(total, dia_del_mes),casos_activos_probables= data.frame(total, dia_del_mes)

#cada data.frame contiene 2 vectores:
#     total <-numeric()
#     dia_del_mes <- as.integer(1:31)

##Respuesta 1d: 
#como lo muestra en jun hay 15 slots y son tipo Lista
length(casos$jun)
class(casos$jun)

## Respuesta 1e:
#en el mes de junio el objeto casos_totales es un data.frame y tiene 2 elementos
#se verifica con 
class(casos$jun$casos_totales)
length(casos$jun$casos_totales)

List of 5
 $ mar:List of 15
  ..$ casos_nuevos_con_sintomas    :'data.frame':	30 obs. of  2 variables:
  .. ..$ total      : num [1:30] 1 0 2 1 1 2 3 5 2 6 ...
  .. ..$ dia_del_mes: int [1:30] 2 3 4 5 6 7 8 9 10 11 ...
  ..$ casos_totales                :'data.frame':	30 obs. of  2 variables:
  .. ..$ total      : num [1:30] 1 1 3 4 5 7 10 15 17 23 ...
  .. ..$ dia_del_mes: int [1:30] 2 3 4 5 6 7 8 9 10 11 ...
  ..$ casos_recuperados            :'data.frame':	30 obs. of  2 variables:
  .. ..$ total      : num [1:30] 0 0 0 0 0 0 0 0 0 0 ...
  .. ..$ dia_del_mes: int [1:30] 2 3 4 5 6 7 8 9 10 11 ...
  ..$ fallecidos                   :'data.frame':	30 obs. of  2 variables:
  .. ..$ total      : num [1:30] 0 0 0 0 0 0 0 0 0 0 ...
  .. ..$ dia_del_mes: int [1:30] 2 3 4 5 6 7 8 9 10 11 ...
  ..$ casos_activos                :'data.frame':	30 obs. of  2 variables:
  .. ..$ total      : num [1:30] 1 1 3 4 5 7 10 15 17 23 ...
  .. ..$ dia_del_mes: int [1:30] 2 3 4 5 6 7 8 9 10 11 ...
  ..$ casos_nuevos_sin_sintomas    :'data.frame':	30 obs. of  2 variables:
  .. ..$ total      : num [1:30] NA NA NA NA NA NA NA NA NA NA ...
  .. ..$ dia_del_mes: int [1:30] 2 3 4 5 6 7 8 9 10 11 ...
  ..$ casos_nuevos_totales         :'data.frame':	30 obs. of  2 variables:
  .. ..$ total      : num [1:30] 1 0 2 1 1 2 3 5 2 6 ...
  .. ..$ dia_del_mes: int [1:30] 2 3 4 5 6 7 8 9 10 11 ...
  ..$ casos_activos_por_fd         :'data.frame':	30 obs. of  2 variables:
  .. ..$ total      : num [1:30] 1 1 3 4 5 7 10 15 17 23 ...
  .. ..$ dia_del_mes: int [1:30] 2 3 4 5 6 7 8 9 10 11 ...
  ..$ casos_activos_por_fis        :'data.frame':	30 obs. of  2 variables:
  .. ..$ total      : num [1:30] NA NA NA NA NA NA NA NA NA NA ...
  .. ..$ dia_del_mes: int [1:30] 2 3 4 5 6 7 8 9 10 11 ...
  ..$ casos_recuperados_por_fis    :'data.frame':	30 obs. of  2 variables:
  .. ..$ total      : num [1:30] NA NA NA NA NA NA NA NA NA NA ...
  .. ..$ dia_del_mes: int [1:30] 2 3 4 5 6 7 8 9 10 11 ...
  ..$ casos_recuperados_por_fd     :'data.frame':	30 obs. of  2 variables:
  .. ..$ total      : num [1:30] 0 0 0 0 0 0 0 0 0 0 ...
  .. ..$ dia_del_mes: int [1:30] 2 3 4 5 6 7 8 9 10 11 ...
  ..$ casos_confirmados_recuperados:'data.frame':	30 obs. of  2 variables:
  .. ..$ total      : num [1:30] NA NA NA NA NA NA NA NA NA NA ...
  .. ..$ dia_del_mes: int [1:30] 2 3 4 5 6 7 8 9 10 11 ...
  ..$ casos_activos_confirmados    :'data.frame':	30 obs. of  2 variables:
  .. ..$ total      : num [1:30] NA NA NA NA NA NA NA NA NA NA ...
  .. ..$ dia_del_mes: int [1:30] 2 3 4 5 6 7 8 9 10 11 ...
  ..$ casos_probables_acumulados   :'data.frame':	30 obs. of  2 variables:
  .. ..$ total      : num [1:30] NA NA NA NA NA NA NA NA NA NA ...
  .. ..$ dia_del_mes: int [1:30] 2 3 4 5 6 7 8 9 10 11 ...
  ..$ casos_activos_probables      :'data.frame':	30 obs. of  2 variables:
  .. ..$ total      : num [1:30] NA NA NA NA NA NA NA NA NA NA ...
  .. ..$ dia_del_mes: int [1:30] 2 3 4 5 6 7 8 9 10 11 ...
 $ abr:List of 15
  ..$ casos_nuevos_con_sintomas    :'data.frame':	30 obs. of  2 variables:
  .. ..$ total      : num [1:30] 293 373 333 424 310 344 301 430 426 529 ...
  .. ..$ dia_del_mes: int [1:30] 1 2 3 4 5 6 7 8 9 10 ...
  ..$ casos_totales                :'data.frame':	30 obs. of  2 variables:
  .. ..$ total      : num [1:30] 3031 3404 3737 4161 4471 ...
  .. ..$ dia_del_mes: int [1:30] 1 2 3 4 5 6 7 8 9 10 ...
  ..$ casos_recuperados            :'data.frame':	30 obs. of  2 variables:
  .. ..$ total      : num [1:30] 234 335 427 528 617 ...
  .. ..$ dia_del_mes: int [1:30] 1 2 3 4 5 6 7 8 9 10 ...
  ..$ fallecidos                   :'data.frame':	30 obs. of  2 variables:
  .. ..$ total      : num [1:30] 16 18 22 27 34 37 43 48 57 65 ...
  .. ..$ dia_del_mes: int [1:30] 1 2 3 4 5 6 7 8 9 10 ...
  ..$ casos_activos                :'data.frame':	30 obs. of  2 variables:
  .. ..$ total      : num [1:30] 2781 3051 3288 3606 3820 ...
  .. ..$ dia_del_mes: int [1:30] 1 2 3 4 5 6 7 8 9 10 ...
  ..$ casos_nuevos_sin_sintomas    :'data.frame':	30 obs. of  2 variables:
  .. ..$ total      : num [1:30] NA NA NA NA NA NA NA NA NA NA ...
  .. ..$ dia_del_mes: int [1:30] 1 2 3 4 5 6 7 8 9 10 ...
  ..$ casos_nuevos_totales         :'data.frame':	30 obs. of  2 variables:
  .. ..$ total      : num [1:30] 293 373 333 424 310 344 301 430 426 529 ...
  .. ..$ dia_del_mes: int [1:30] 1 2 3 4 5 6 7 8 9 10 ...
  ..$ casos_activos_por_fd         :'data.frame':	30 obs. of  2 variables:
  .. ..$ total      : num [1:30] 2781 3051 3288 3606 3820 ...
  .. ..$ dia_del_mes: int [1:30] 1 2 3 4 5 6 7 8 9 10 ...
  ..$ casos_activos_por_fis        :'data.frame':	30 obs. of  2 variables:
  .. ..$ total      : num [1:30] NA NA NA NA NA NA NA NA NA NA ...
  .. ..$ dia_del_mes: int [1:30] 1 2 3 4 5 6 7 8 9 10 ...
  ..$ casos_recuperados_por_fis    :'data.frame':	30 obs. of  2 variables:
  .. ..$ total      : num [1:30] NA NA NA NA NA NA NA NA NA NA ...
  .. ..$ dia_del_mes: int [1:30] 1 2 3 4 5 6 7 8 9 10 ...
  ..$ casos_recuperados_por_fd     :'data.frame':	30 obs. of  2 variables:
  .. ..$ total      : num [1:30] 234 335 427 528 617 ...
  .. ..$ dia_del_mes: int [1:30] 1 2 3 4 5 6 7 8 9 10 ...
  ..$ casos_confirmados_recuperados:'data.frame':	30 obs. of  2 variables:
  .. ..$ total      : num [1:30] NA NA NA NA NA NA NA NA NA NA ...
  .. ..$ dia_del_mes: int [1:30] 1 2 3 4 5 6 7 8 9 10 ...
  ..$ casos_activos_confirmados    :'data.frame':	30 obs. of  2 variables:
  .. ..$ total      : num [1:30] NA NA NA NA NA NA NA NA NA NA ...
  .. ..$ dia_del_mes: int [1:30] 1 2 3 4 5 6 7 8 9 10 ...
  ..$ casos_probables_acumulados   :'data.frame':	30 obs. of  2 variables:
  .. ..$ total      : num [1:30] NA NA NA NA NA NA NA NA NA NA ...
  .. ..$ dia_del_mes: int [1:30] 1 2 3 4 5 6 7 8 9 10 ...
  ..$ casos_activos_probables      :'data.frame':	30 obs. of  2 variables:
  .. ..$ total      : num [1:30] NA NA NA NA NA NA NA NA NA NA ...
  .. ..$ dia_del_mes: int [1:30] 1 2 3 4 5 6 7 8 9 10 ...
 $ may:List of 15
  ..$ casos_nuevos_con_sintomas    :'data.frame':	31 obs. of  2 variables:
  .. ..$ total      : num [1:31] 882 1246 1112 876 1317 ...
  .. ..$ dia_del_mes: int [1:31] 1 2 3 4 5 6 7 8 9 10 ...
  ..$ casos_totales                :'data.frame':	31 obs. of  2 variables:
  .. ..$ total      : num [1:31] 17008 18435 19663 20643 22016 ...
  .. ..$ dia_del_mes: int [1:31] 1 2 3 4 5 6 7 8 9 10 ...
  ..$ casos_recuperados            :'data.frame':	31 obs. of  2 variables:
  .. ..$ total      : num [1:31] 9018 9572 10041 10415 10710 ...
  .. ..$ dia_del_mes: int [1:31] 1 2 3 4 5 6 7 8 9 10 ...
  ..$ fallecidos                   :'data.frame':	31 obs. of  2 variables:
  .. ..$ total      : num [1:31] 234 247 260 270 275 281 285 294 304 312 ...
  .. ..$ dia_del_mes: int [1:31] 1 2 3 4 5 6 7 8 9 10 ...
  ..$ casos_activos                :'data.frame':	31 obs. of  2 variables:
  .. ..$ total      : num [1:31] 7756 8616 9362 9958 11031 ...
  .. ..$ dia_del_mes: int [1:31] 1 2 3 4 5 6 7 8 9 10 ...
  ..$ casos_nuevos_sin_sintomas    :'data.frame':	31 obs. of  2 variables:
  .. ..$ total      : num [1:31] 103 181 116 104 56 139 190 208 243 241 ...
  .. ..$ dia_del_mes: int [1:31] 1 2 3 4 5 6 7 8 9 10 ...
  ..$ casos_nuevos_totales         :'data.frame':	31 obs. of  2 variables:
  .. ..$ total      : num [1:31] 985 1427 1228 980 1373 ...
  .. ..$ dia_del_mes: int [1:31] 1 2 3 4 5 6 7 8 9 10 ...
  ..$ casos_activos_por_fd         :'data.frame':	31 obs. of  2 variables:
  .. ..$ total      : num [1:31] 7756 8616 9362 9958 11031 ...
  .. ..$ dia_del_mes: int [1:31] 1 2 3 4 5 6 7 8 9 10 ...
  ..$ casos_activos_por_fis        :'data.frame':	31 obs. of  2 variables:
  .. ..$ total      : num [1:31] NA NA NA NA NA NA NA NA NA NA ...
  .. ..$ dia_del_mes: int [1:31] 1 2 3 4 5 6 7 8 9 10 ...
  ..$ casos_recuperados_por_fis    :'data.frame':	31 obs. of  2 variables:
  .. ..$ total      : num [1:31] NA NA NA NA NA NA NA NA NA NA ...
  .. ..$ dia_del_mes: int [1:31] 1 2 3 4 5 6 7 8 9 10 ...
  ..$ casos_recuperados_por_fd     :'data.frame':	31 obs. of  2 variables:
  .. ..$ total      : num [1:31] 9018 9572 10041 10415 10710 ...
  .. ..$ dia_del_mes: int [1:31] 1 2 3 4 5 6 7 8 9 10 ...
  ..$ casos_confirmados_recuperados:'data.frame':	31 obs. of  2 variables:
  .. ..$ total      : num [1:31] NA NA NA NA NA NA NA NA NA NA ...
  .. ..$ dia_del_mes: int [1:31] 1 2 3 4 5 6 7 8 9 10 ...
  ..$ casos_activos_confirmados    :'data.frame':	31 obs. of  2 variables:
  .. ..$ total      : num [1:31] NA NA NA NA NA NA NA NA NA NA ...
  .. ..$ dia_del_mes: int [1:31] 1 2 3 4 5 6 7 8 9 10 ...
  ..$ casos_probables_acumulados   :'data.frame':	31 obs. of  2 variables:
  .. ..$ total      : num [1:31] NA NA NA NA NA NA NA NA NA NA ...
  .. ..$ dia_del_mes: int [1:31] 1 2 3 4 5 6 7 8 9 10 ...
  ..$ casos_activos_probables      :'data.frame':	31 obs. of  2 variables:
  .. ..$ total      : num [1:31] NA NA NA NA NA NA NA NA NA NA ...
  .. ..$ dia_del_mes: int [1:31] 1 2 3 4 5 6 7 8 9 10 ...
 $ jun:List of 15
  ..$ casos_nuevos_con_sintomas    :'data.frame':	30 obs. of  2 variables:
  .. ..$ total      : num [1:30] 5082 3206 4537 4172 3790 ...
  .. ..$ dia_del_mes: int [1:30] 1 2 3 4 5 6 7 8 9 10 ...
  ..$ casos_totales                :'data.frame':	30 obs. of  2 variables:
  .. ..$ total      : num [1:30] 105159 108686 113628 118292 122499 ...
  .. ..$ dia_del_mes: int [1:30] 1 2 3 4 5 6 7 8 9 10 ...
  ..$ casos_recuperados            :'data.frame':	30 obs. of  2 variables:
  .. ..$ total      : num [1:30] 44946 NA NA NA NA ...
  .. ..$ dia_del_mes: int [1:30] 1 2 3 4 5 6 7 8 9 10 ...
  ..$ fallecidos                   :'data.frame':	30 obs. of  2 variables:
  .. ..$ total      : num [1:30] 1113 1188 1275 1356 1448 ...
  .. ..$ dia_del_mes: int [1:30] 1 2 3 4 5 6 7 8 9 10 ...
  ..$ casos_activos                :'data.frame':	30 obs. of  2 variables:
  .. ..$ total      : num [1:30] 59100 21325 21605 21305 21693 ...
  .. ..$ dia_del_mes: int [1:30] 1 2 3 4 5 6 7 8 9 10 ...
  ..$ casos_nuevos_sin_sintomas    :'data.frame':	30 obs. of  2 variables:
  .. ..$ total      : num [1:30] 389 321 405 492 417 358 645 459 326 511 ...
  .. ..$ dia_del_mes: int [1:30] 1 2 3 4 5 6 7 8 9 10 ...
  ..$ casos_nuevos_totales         :'data.frame':	30 obs. of  2 variables:
  .. ..$ total      : num [1:30] 5471 3527 4942 4664 4207 ...
  .. ..$ dia_del_mes: int [1:30] 1 2 3 4 5 6 7 8 9 10 ...
  ..$ casos_activos_por_fd         :'data.frame':	30 obs. of  2 variables:
  .. ..$ total      : num [1:30] 59100 59107 60011 60711 60642 ...
  .. ..$ dia_del_mes: int [1:30] 1 2 3 4 5 6 7 8 9 10 ...
  ..$ casos_activos_por_fis        :'data.frame':	30 obs. of  2 variables:
  .. ..$ total      : num [1:30] NA 21325 21605 21305 21693 ...
  .. ..$ dia_del_mes: int [1:30] 1 2 3 4 5 6 7 8 9 10 ...
  ..$ casos_recuperados_por_fis    :'data.frame':	30 obs. of  2 variables:
  .. ..$ total      : num [1:30] NA 86173 90748 95631 99358 ...
  .. ..$ dia_del_mes: int [1:30] 1 2 3 4 5 6 7 8 9 10 ...
  ..$ casos_recuperados_por_fd     :'data.frame':	30 obs. of  2 variables:
  .. ..$ total      : num [1:30] 44946 48391 52342 56225 60409 ...
  .. ..$ dia_del_mes: int [1:30] 1 2 3 4 5 6 7 8 9 10 ...
  ..$ casos_confirmados_recuperados:'data.frame':	30 obs. of  2 variables:
  .. ..$ total      : num [1:30] NA NA NA NA NA NA NA NA NA NA ...
  .. ..$ dia_del_mes: int [1:30] 1 2 3 4 5 6 7 8 9 10 ...
  ..$ casos_activos_confirmados    :'data.frame':	30 obs. of  2 variables:
  .. ..$ total      : num [1:30] NA NA NA NA NA NA NA NA NA NA ...
  .. ..$ dia_del_mes: int [1:30] 1 2 3 4 5 6 7 8 9 10 ...
  ..$ casos_probables_acumulados   :'data.frame':	30 obs. of  2 variables:
  .. ..$ total      : num [1:30] NA NA NA NA NA NA NA NA NA NA ...
  .. ..$ dia_del_mes: int [1:30] 1 2 3 4 5 6 7 8 9 10 ...
  ..$ casos_activos_probables      :'data.frame':	30 obs. of  2 variables:
  .. ..$ total      : num [1:30] NA NA NA NA NA NA NA NA NA NA ...
  .. ..$ dia_del_mes: int [1:30] 1 2 3 4 5 6 7 8 9 10 ...
 $ jul:List of 15
  ..$ casos_nuevos_con_sintomas    :'data.frame':	8 obs. of  2 variables:
  .. ..$ total      : num [1:8] 2134 2042 2703 2951 2852 ...
  .. ..$ dia_del_mes: int [1:8] 1 2 3 4 5 6 7 8
  ..$ casos_totales                :'data.frame':	8 obs. of  2 variables:
  .. ..$ total      : num [1:8] 282043 284541 288089 291847 295532 ...
  .. ..$ dia_del_mes: int [1:8] 1 2 3 4 5 6 7 8
  ..$ casos_recuperados            :'data.frame':	8 obs. of  2 variables:
  .. ..$ total      : num [1:8] NA NA NA NA NA NA NA NA
  .. ..$ dia_del_mes: int [1:8] 1 2 3 4 5 6 7 8
  ..$ fallecidos                   :'data.frame':	8 obs. of  2 variables:
  .. ..$ total      : num [1:8] 5753 5920 6051 6192 6308 ...
  .. ..$ dia_del_mes: int [1:8] 1 2 3 4 5 6 7 8
  ..$ casos_activos                :'data.frame':	8 obs. of  2 variables:
  .. ..$ total      : num [1:8] 30847 29374 28695 28210 28194 ...
  .. ..$ dia_del_mes: int [1:8] 1 2 3 4 5 6 7 8
  ..$ casos_nuevos_sin_sintomas    :'data.frame':	8 obs. of  2 variables:
  .. ..$ total      : num [1:8] 300 230 322 371 438 404 266 265
  .. ..$ dia_del_mes: int [1:8] 1 2 3 4 5 6 7 8
  ..$ casos_nuevos_totales         :'data.frame':	8 obs. of  2 variables:
  .. ..$ total      : num [1:8] 2650 2498 3548 3758 3685 ...
  .. ..$ dia_del_mes: int [1:8] 1 2 3 4 5 6 7 8
  ..$ casos_activos_por_fd         :'data.frame':	8 obs. of  2 variables:
  .. ..$ total      : num [1:8] 61415 59438 56696 55099 53177 ...
  .. ..$ dia_del_mes: int [1:8] 1 2 3 4 5 6 7 8
  ..$ casos_activos_por_fis        :'data.frame':	8 obs. of  2 variables:
  .. ..$ total      : num [1:8] 30847 29374 28695 28210 28194 ...
  .. ..$ dia_del_mes: int [1:8] 1 2 3 4 5 6 7 8
  ..$ casos_recuperados_por_fis    :'data.frame':	8 obs. of  2 variables:
  .. ..$ total      : num [1:8] 245443 249247 253343 257445 261030 ...
  .. ..$ dia_del_mes: int [1:8] 1 2 3 4 5 6 7 8
  ..$ casos_recuperados_por_fd     :'data.frame':	8 obs. of  2 variables:
  .. ..$ total      : num [1:8] 214875 219183 225342 230556 236047 ...
  .. ..$ dia_del_mes: int [1:8] 1 2 3 4 5 6 7 8
  ..$ casos_confirmados_recuperados:'data.frame':	8 obs. of  2 variables:
  .. ..$ total      : num [1:8] 245443 249247 253343 257445 261032 ...
  .. ..$ dia_del_mes: int [1:8] 1 2 3 4 5 6 7 8
  ..$ casos_activos_confirmados    :'data.frame':	8 obs. of  2 variables:
  .. ..$ total      : num [1:8] 30847 29374 28695 28210 28194 ...
  .. ..$ dia_del_mes: int [1:8] 1 2 3 4 5 6 7 8
  ..$ casos_probables_acumulados   :'data.frame':	8 obs. of  2 variables:
  .. ..$ total      : num [1:8] 30980 32013 32578 33933 34651 ...
  .. ..$ dia_del_mes: int [1:8] 1 2 3 4 5 6 7 8
  ..$ casos_activos_probables      :'data.frame':	8 obs. of  2 variables:
  .. ..$ total      : num [1:8] 7806 7921 7543 7986 7785 ...
  .. ..$ dia_del_mes: int [1:8] 1 2 3 4 5 6 7 8

[1] 5

[1] 5

[1] "mar" "abr" "may" "jun" "jul"

[1] 15

[1] "list"

[1] "data.frame"

[1] 2

In [7]:
save(casos, file = "evaluacion_1.RData")

## Pregunta 1.2

**2a) (2pts)** ¿Cuántos casos activos existían al 25 de marzo? (indique claramente la expresión de R para obtener el valor solicitado) .<br>
**2b) (1pts)** Genere cinco nuevas variables llamadas `totales_marzo`,`totales_abril` , `totales_mayo`, `totales_junio` y `totales_julio`, que contengan los dataframes correspondientes al slot `casos_totales` del mes respectivo, (por ejemplo, la variable `totales_julio` debe contener una dataframe de dimensión $8\times2$.<br>
**2c) (2pts)** Para cada dataframe del paso anterior, genere una nueva columna llamada `mes`, que repita el nombre del mes correspondiente por cada fila.<br>
**2d) (3pts)** En cada data.frame, agregue una nueva columna llamada `casos_diarios` que contanga la información correspontiende al total de casos nuevos diarios(`casos_nuevos_totales`).

In [8]:
install.packages("tidyverse")

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

In [9]:
#procedimiento 1.2a
datos_marzo <- casos$mar$casos_activos

In [10]:
datos_marzo

   total dia_del_mes
1     1   2
2     1   3
3     3   4
4     4   5
5     5   6
6     7   7
7    10   8
8    15   9
9    17  10
10   23  11
11   33  12
12   43  13
13   61  14
14   75  15
15  156  16
16  200  17
17  235  18
18  338  19
19  429  20
20  531  21
21  623  22
22  734  23
23  903  24
24 1117  25
25 1269  26
26 1562  27
27 1842  28
28 2057  29
29 2285  30
30 2525  31

In [19]:
#procedimiento 1.2a
filtro_marzo <- datos_marzo[datos_marzo$dia_del_mes < 26,]

In [36]:
save(datos_marzo, file = "evaluacion_1.RData")

In [20]:
filtro_marzo

   total dia_del_mes
1     1   2
2     1   3
3     3   4
4     4   5
5     5   6
6     7   7
7    10   8
8    15   9
9    17  10
10   23  11
11   33  12
12   43  13
13   61  14
14   75  15
15  156  16
16  200  17
17  235  18
18  338  19
19  429  20
20  531  21
21  623  22
22  734  23
23  903  24
24 1117  25

In [39]:
#procedimiento 1.2a
sumatoria_marzo <- sum(filtro_marzo$total) 
sumatoria_marzo

[1] 5564

In [41]:
save(filtro_marzo, sumatoria_marzo, file = "evaluacion_1.RData")

In [21]:
# P1.2
## Respuesta 1.2a
# hay en total unos 5564 casos_activos en el mes de marzo
# procedimiento:
#datos_marzo <- casos$mar$casos_activos
#filtro_marzo <-datos_marzo[datos_marzo$dia_del_mes < 26,]
#filtro_marzo
#sum(filtro_marzo$total)

In [23]:
 ## Respuesta 1.2b
 # se crearon las 5 variables con el data.frame contenido en el slot casos_totales
totales_mar <-casos$mar$casos_totales
totales_abr <-casos$abr$casos_totales
totales_may <-casos$may$casos_totales
totales_jun <-casos$jun$casos_totales
totales_jul <-casos$jul$casos_totales

#se verifica
totales_mar
totales_abr
totales_may
totales_jun
totales_jul

   total dia_del_mes
1     1   2
2     1   3
3     3   4
4     4   5
5     5   6
6     7   7
7    10   8
8    15   9
9    17  10
10   23  11
11   33  12
12   43  13
13   61  14
14   75  15
15  156  16
16  201  17
17  238  18
18  342  19
19  434  20
20  537  21
21  632  22
22  746  23
23  922  24
24 1142  25
25 1306  26
26 1610  27
27 1909  28
28 2139  29
29 2449  30
30 2738  31

   total dia_del_mes
1   3031  1
2   3404  2
3   3737  3
4   4161  4
5   4471  5
6   4815  6
7   5116  7
8   5546  8
9   5972  9
10  6501 10
11  6927 11
12  7213 12
13  7525 13
14  7917 14
15  8273 15
16  8807 16
17  9252 17
18  9730 18
19 10088 19
20 10507 20
21 10832 21
22 11296 22
23 11812 23
24 12306 24
25 12858 25
26 13331 26
27 13813 27
28 14365 28
29 15135 29
30 16023 30

   total dia_del_mes
1  17008  1
2  18435  2
3  19663  3
4  20643  4
5  22016  5
6  23048  6
7  24581  7
8  25972  8
9  27219  9
10 28866 10
11 30063 11
12 31721 12
13 34381 13
14 37040 14
15 39542 15
16 41428 16
17 43781 17
18 46059 18
19 49579 19
20 53617 20
21 57581 21
22 61857 22
23 65393 23
24 69102 24
25 73997 25
26 77961 26
27 82289 27
28 86943 28
29 90638 29
30 94858 30
31 99688 31

   total  dia_del_mes
1  105159  1
2  108686  2
3  113628  3
4  118292  4
5  122499  5
6  127745  6
7  134150  7
8  138846  8
9  142759  9
10 148496 10
11 154092 11
12 160846 12
13 167355 13
14 174293 14
15 179436 15
16 184449 16
17 220628 17
18 225103 18
19 231393 19
20 236748 20
21 242355 21
22 246963 22
23 250767 23
24 254416 24
25 259064 25
26 263360 26
27 267766 27
28 271982 28
29 275999 29
30 279393 30

  total  dia_del_mes
1 282043 1
2 284541 2
3 288089 3
4 291847 4
5 295532 5
6 298557 6
7 301019 7
8 303083 8

In [42]:
save(totales_mar, totales_abr,totales_may, totales_jun, totales_jul, file = "evaluacion_1.RData")

In [65]:
# P1.2
## Respuesta 1.2.c
#se crea la columna mes en cada variable y dicho mes se repetira en todas las filas de cada variable
totales_mar$mes <-rep(c("marzo"), length.out=30)
totales_abr$mes <-rep(c("abril"), length.out=30)
totales_may$mes <-rep(c("mayo"), length.out=31)
totales_jun$mes <-rep(c("junio"), length.out=30)
totales_jul$mes <-rep(c("julio"), length.out=8)

   total dia_del_mes mes
1     1   2          marzo
2     1   3          marzo
3     3   4          marzo
4     4   5          marzo
5     5   6          marzo
6     7   7          marzo
7    10   8          marzo
8    15   9          marzo
9    17  10          marzo
10   23  11          marzo
11   33  12          marzo
12   43  13          marzo
13   61  14          marzo
14   75  15          marzo
15  156  16          marzo
16  201  17          marzo
17  238  18          marzo
18  342  19          marzo
19  434  20          marzo
20  537  21          marzo
21  632  22          marzo
22  746  23          marzo
23  922  24          marzo
24 1142  25          marzo
25 1306  26          marzo
26 1610  27          marzo
27 1909  28          marzo
28 2139  29          marzo
29 2449  30          marzo
30 2738  31          marzo

 [1] "abril" "abril" "abril" "abril" "abril" "abril" "abril" "abril" "abril"
[10] "abril" "abril" "abril" "abril" "abril" "abril" "abril" "abril" "abril"
[19] "abril" "abril" "abril" "abril" "abril" "abril" "abril" "abril" "abril"
[28] "abril" "abril" "abril"

 [1] "mayo" "mayo" "mayo" "mayo" "mayo" "mayo" "mayo" "mayo" "mayo" "mayo"
[11] "mayo" "mayo" "mayo" "mayo" "mayo" "mayo" "mayo" "mayo" "mayo" "mayo"
[21] "mayo" "mayo" "mayo" "mayo" "mayo" "mayo" "mayo" "mayo" "mayo" "mayo"
[31] "mayo"

 [1] "junio" "junio" "junio" "junio" "junio" "junio" "junio" "junio" "junio"
[10] "junio" "junio" "junio" "junio" "junio" "junio" "junio" "junio" "junio"
[19] "junio" "junio" "junio" "junio" "junio" "junio" "junio" "junio" "junio"
[28] "junio" "junio" "junio"

[1] "julio" "julio" "julio" "julio" "julio" "julio" "julio" "julio"

In [66]:
save(totales_mar, totales_abr,totales_may, totales_jun, totales_jul, file = "evaluacion_1.RData")

In [56]:
# P1.2
## respuesta 1.2.d
#se cambia la columna total por "casos_diarios",  del dataframe casos_nuevos_totales
names(casos$mar$casos_nuevos_totales)[1] ="casos_diarios"
names(casos$abr$casos_nuevos_totales)[1] ="casos_diarios"
names(casos$may$casos_nuevos_totales)[1] ="casos_diarios"
names(casos$jun$casos_nuevos_totales)[1] ="casos_diarios"
names(casos$jul$casos_nuevos_totales)[1] ="casos_diarios"

#se pasa a variables el cambio de nombre
cambio1 <-names(casos$mar$casos_nuevos_totales)[1]
cambio2 <-names(casos$abr$casos_nuevos_totales)[1]
cambio3 <-names(casos$may$casos_nuevos_totales)[1]
cambio4 <-names(casos$jun$casos_nuevos_totales)[1]
cambio5 <-names(casos$jul$casos_nuevos_totales)[1]

cambio1
cambio2
cambio3
cambio4
cambio5




#se crea el nuevo data Frame para cada mes
casos_nue_mar <- casos$mar$casos_nuevos_totales
casos_nue_abr <- casos$abr$casos_nuevos_totales
casos_nue_may <- casos$may$casos_nuevos_totales
casos_nue_jun <- casos$jun$casos_nuevos_totales
casos_nue_jul <- casos$jul$casos_nuevos_totales

casos_nue_mar

[1] "casos_diarios"

[1] "casos_diarios"

[1] "casos_diarios"

[1] "casos_diarios"

[1] "casos_diarios"

   casos_diarios dia_del_mes
1    1            2
2    0            3
3    2            4
4    1            5
5    1            6
6    2            7
7    3            8
8    5            9
9    2           10
10   6           11
11  10           12
12  10           13
13  18           14
14  14           15
15  81           16
16  45           17
17  37           18
18 104           19
19  92           20
20 103           21
21  95           22
22 114           23
23 176           24
24 220           25
25 164           26
26 304           27
27 299           28
28 230           29
29 310           30
30 289           31

In [57]:
save(cambio1, cambio2, cambio3, cambio4, cambio5, casos_nue_mar, casos_nue_abr, casos_nue_may, casos_nue_jun, casos_nue_jul, file ="evaluacion_1.RData")

In [67]:
totales_marzo <- merge(x = totales_mar, y = casos_nue_mar, by= c("dia_del_mes"))

In [68]:
totales_marzo

   dia_del_mes total mes   casos_diarios
1   2             1  marzo   1
2   3             1  marzo   0
3   4             3  marzo   2
4   5             4  marzo   1
5   6             5  marzo   1
6   7             7  marzo   2
7   8            10  marzo   3
8   9            15  marzo   5
9  10            17  marzo   2
10 11            23  marzo   6
11 12            33  marzo  10
12 13            43  marzo  10
13 14            61  marzo  18
14 15            75  marzo  14
15 16           156  marzo  81
16 17           201  marzo  45
17 18           238  marzo  37
18 19           342  marzo 104
19 20           434  marzo  92
20 21           537  marzo 103
21 22           632  marzo  95
22 23           746  marzo 114
23 24           922  marzo 176
24 25          1142  marzo 220
25 26          1306  marzo 164
26 27          1610  marzo 304
27 28          1909  marzo 299
28 29          2139  marzo 230
29 30          2449  marzo 310
30 31          2738  marzo 289

In [69]:
totales_abril <- merge(x = totales_abr, y=casos_nue_abr, by = c("dia_del_mes"))
totales_abril

   dia_del_mes total mes   casos_diarios
1   1           3031 abril 293
2   2           3404 abril 373
3   3           3737 abril 333
4   4           4161 abril 424
5   5           4471 abril 310
6   6           4815 abril 344
7   7           5116 abril 301
8   8           5546 abril 430
9   9           5972 abril 426
10 10           6501 abril 529
11 11           6927 abril 426
12 12           7213 abril 286
13 13           7525 abril 312
14 14           7917 abril 392
15 15           8273 abril 356
16 16           8807 abril 534
17 17           9252 abril 445
18 18           9730 abril 478
19 19          10088 abril 358
20 20          10507 abril 419
21 21          10832 abril 325
22 22          11296 abril 464
23 23          11812 abril 516
24 24          12306 abril 494
25 25          12858 abril 552
26 26          13331 abril 473
27 27          13813 abril 482
28 28          14365 abril 552
29 29          15135 abril 770
30 30          16023 abril 888

In [70]:
totales_mayo <- merge(x = totales_may, y = casos_nue_may)
totales_mayo

   dia_del_mes total mes  casos_diarios
1   1          17008 mayo  985
2   2          18435 mayo 1427
3   3          19663 mayo 1228
4   4          20643 mayo  980
5   5          22016 mayo 1373
6   6          23048 mayo 1032
7   7          24581 mayo 1533
8   8          25972 mayo 1391
9   9          27219 mayo 1247
10 10          28866 mayo 1647
11 11          30063 mayo 1197
12 12          31721 mayo 1658
13 13          34381 mayo 2660
14 14          37040 mayo 2659
15 15          39542 mayo 2502
16 16          41428 mayo 1886
17 17          43781 mayo 2353
18 18          46059 mayo 2278
19 19          49579 mayo 3520
20 20          53617 mayo 4038
21 21          57581 mayo 3964
22 22          61857 mayo 4276
23 23          65393 mayo 3536
24 24          69102 mayo 3709
25 25          73997 mayo 4895
26 26          77961 mayo 3964
27 27          82289 mayo 4328
28 28          86943 mayo 4654
29 29          90638 mayo 3695
30 30          94858 mayo 4220
31 31          99688 mayo 4830

In [71]:
totales_junio <- merge(x = totales_jun, y= casos_nue_jun, by = c("dia_del_mes"))
totales_junio

   dia_del_mes total  mes   casos_diarios
1   1          105159 junio 5471
2   2          108686 junio 3527
3   3          113628 junio 4942
4   4          118292 junio 4664
5   5          122499 junio 4207
6   6          127745 junio 5246
7   7          134150 junio 6405
8   8          138846 junio 4696
9   9          142759 junio 3913
10 10          148496 junio 5737
11 11          154092 junio 5596
12 12          160846 junio 6754
13 13          167355 junio 6509
14 14          174293 junio 6938
15 15          179436 junio 5143
16 16          184449 junio 5013
17 17          220628 junio 4757
18 18          225103 junio 4475
19 19          231393 junio 6290
20 20          236748 junio 5355
21 21          242355 junio 5607
22 22          246963 junio 4608
23 23          250767 junio 3804
24 24          254416 junio 3649
25 25          259064 junio 4648
26 26          263360 junio 4296
27 27          267766 junio 4406
28 28          271982 junio 4216
29 29          275999 junio 4017
30 30          279393 junio 3394

In [72]:
totales_julio <- merge(x = totales_jul, y = casos_nue_jul, by = c("dia_del_mes"))
totales_julio

  dia_del_mes total  mes   casos_diarios
1 1           282043 julio 2650
2 2           284541 julio 2498
3 3           288089 julio 3548
4 4           291847 julio 3758
5 5           295532 julio 3685
6 6           298557 julio 3025
7 7           301019 julio 2462
8 8           303083 julio 2064

In [58]:
#continuacion de la respuesta 1.2.d 
#totales_marzo <- merge(x=totales_mar, y= casos_nue_mar, by= c("dia_del_mes"))
#totales_abril <- merge(x=totales_abr, y=casos_nue_abr, by=c("dia_del_mes"))
#totales_mayo <- merge(x=totales_may, y=casos_nue_may, by=c("dia_del_mes"))
#totales_junio <- merge(x=totales_jun, y=casos_nue_jun, by=c("dia_del_mes"))
#totales_julio <- merge(x=totales_jul, y=casos_nue_jul, by=c("dia_del_mes"))

In [73]:
save(totales_marzo, totales_abril, totales_mayo, totales_junio, totales_julio, file= "evaluacion_1.RData")

## Pregunta 1.3

**3a) (1pts)** Con la ayuda de lafunción rbind() , una las filas de las 5 tablas generadas en la pregunta anterior y guarde la tabla resultante en una variable llamada `casos_hist`.<br>
**3b) (1pt)** En promedio, ¿Cuántos casos hay diariamente desde el 03 de marzo hasta el 08 de julio?<br>
**3c) (2pts)** En promedio, ¿Cuántos casos hay diariamente **en cada mes** ?.<br>

In [74]:
# P1.3
## Respuesta 1.3a
casos_hist <- rbind(totales_marzo, totales_abril, totales_mayo, totales_junio, totales_julio)

In [75]:
casos_hist

    dia_del_mes total  mes   casos_diarios
1    2             1   marzo   1
2    3             1   marzo   0
3    4             3   marzo   2
4    5             4   marzo   1
5    6             5   marzo   1
6    7             7   marzo   2
7    8            10   marzo   3
8    9            15   marzo   5
9   10            17   marzo   2
10  11            23   marzo   6
11  12            33   marzo  10
12  13            43   marzo  10
13  14            61   marzo  18
14  15            75   marzo  14
15  16           156   marzo  81
16  17           201   marzo  45
17  18           238   marzo  37
18  19           342   marzo 104
19  20           434   marzo  92
20  21           537   marzo 103
21  22           632   marzo  95
22  23           746   marzo 114
23  24           922   marzo 176
24  25          1142   marzo 220
25  26          1306   marzo 164
26  27          1610   marzo 304
27  28          1909   marzo 299
28  29          2139   marzo 230
29  30          2449   marzo 310
30  31          2738   marzo 289
⋮   ⋮           ⋮      ⋮     ⋮
100  9          142759 junio 3913
101 10          148496 junio 5737
102 11          154092 junio 5596
103 12          160846 junio 6754
104 13          167355 junio 6509
105 14          174293 junio 6938
106 15          179436 junio 5143
107 16          184449 junio 5013
108 17          220628 junio 4757
109 18          225103 junio 4475
110 19          231393 junio 6290
111 20          236748 junio 5355
112 21          242355 junio 5607
113 22          246963 junio 4608
114 23          250767 junio 3804
115 24          254416 junio 3649
116 25          259064 junio 4648
117 26          263360 junio 4296
118 27          267766 junio 4406
119 28          271982 junio 4216
120 29          275999 junio 4017
121 30          279393 junio 3394
122  1          282043 julio 2650
123  2          284541 julio 2498
124  3          288089 julio 3548
125  4          291847 julio 3758
126  5          295532 julio 3685
127  6          298557 julio 3025
128  7          301019 julio 2462
129  8          303083 julio 2064

In [88]:
# Pregunta 1.3.b
casos_hist_marzo <- subset(x = casos_hist, subset = "mes" == "marzo" & 
dia_del_mes >= 03, select = c("dia_del_mes", "mes", "casos_diarios"))

casos_hist_otros <- subset(x = casos_hist, subset = "mes" != "marzo" & 
mes !="julio", select = c("dia_del_mes", "mes", "casos_diarios"))

casos_hist_julio <- subset(x = casos_hist, subset = "mes" == "julio" & 
dia_del_mes < 09, select = c("dia_del_mes", "mes", "casos_diarios"))


#se unen las tres variables
union_datos <- merge(casos_hist_marzo, merge(casos_hist_otros, casos_hist_julio, all = TRUE), all = TRUE)
union_datos

promedio_total <- mean(union_datos$casos_diarios)
promedio_total

#el promedio total de casos diarios desde el 03 de marzo hasta el 8 de julio es de
# 2049.34710743802


save(casos_hist_marzo, casos_hist_otros, casos_hist_julio, union_datos, 
promedio_total, file="evaluacion_1.RData")

    dia_del_mes mes   casos_diarios
1   1           abril  293
2   1           junio 5471
3   1           mayo   985
4   2           abril  373
5   2           junio 3527
6   2           marzo    1
7   2           mayo  1427
8   3           abril  333
9   3           junio 4942
10  3           marzo    0
11  3           mayo  1228
12  4           abril  424
13  4           junio 4664
14  4           marzo    2
15  4           mayo   980
16  5           abril  310
17  5           junio 4207
18  5           marzo    1
19  5           mayo  1373
20  6           abril  344
21  6           junio 5246
22  6           marzo    1
23  6           mayo  1032
24  7           abril  301
25  7           junio 6405
26  7           marzo    2
27  7           mayo  1533
28  8           abril  430
29  8           junio 4696
30  8           marzo    3
⋮   ⋮           ⋮     ⋮
92  24          abril  494
93  24          junio 3649
94  24          marzo  176
95  24          mayo  3709
96  25          abril  552
97  25          junio 4648
98  25          marzo  220
99  25          mayo  4895
100 26          abril  473
101 26          junio 4296
102 26          marzo  164
103 26          mayo  3964
104 27          abril  482
105 27          junio 4406
106 27          marzo  304
107 27          mayo  4328
108 28          abril  552
109 28          junio 4216
110 28          marzo  299
111 28          mayo  4654
112 29          abril  770
113 29          junio 4017
114 29          marzo  230
115 29          mayo  3695
116 30          abril  888
117 30          junio 3394
118 30          marzo  310
119 30          mayo  4220
120 31          marzo  289
121 31          mayo  4830

[1] 2049.347

In [89]:
# Pregunta 1.3.c
casos_marzo <- mean(casos_hist[casos_hist$mes=="marzo", "casos_diarios"])
casos_abril <-mean(casos_hist[casos_hist$mes=="abril", "casos_diarios"])
casos_mayo <-mean(casos_hist[casos_hist$mes=="mayo", "casos_diarios"])
casos_junio <-mean(casos_hist[casos_hist$mes=="junio", "casos_diarios"])
casos_julio <-mean(casos_hist[casos_hist$mes=="julio", "casos_diarios"])

casos_marzo 
casos_abril
casos_mayo
casos_junio
casos_julio

#El promedio total por cada mes es: 

# Marzo = 91.2666666666667
# Abril = 442.833333333333
# Mayo = 2698.87096774194
# Junio = 4942.76666666667
# Julio = 2961.25

save(casos_marzo,casos_abril,casos_mayo,casos_junio,casos_julio, 
file="evaluacion_1.RData")

[1] 91.26667

[1] 442.8333

[1] 2698.871

[1] 4942.767

[1] 2961.25

# Sección 2

La siguiente celda de código permitirá cargar en su sesión de trabajo los siguientes vectores:
* `temp_hombre`: Contiene el registro de la temperatura para una muestra de 650 hombres escogidos al azar.
* `temp_hombre`: Contiene el registro de la temperatura para una muestra de 580 mujeres escogidas al azar.


En ambos vectores, **los identificadores (id) de cada persona están contenidos en el atributo `names()`** del vector respectivo.

##  Pregunta 2.1

**P1) (4pts)** A partir de los dos vectores cargados `temp_h` y `temp_m` ustred deberá crear un data.frame llamado **`casos`** con tres columnas y un total de 1230 filas. Las columnas deben ser las siguientes; una con el id del registro, otra con el género y otra con la temperatura registrada. A modo de ejemplo, a continuación se muestra como debería quedar el data.frame:


|id | genero | temperatura|
|---|---|---|
| h_162 | hombre | 36.8 |
| h_140 | hombre | 38.7 |
| h_13  | hombre | 36.1 |
| $\vdots$| $\vdots$ | $\vdots$|
| m_16  | mujer | 39.1 |
| m_502 | mujer | 40.1 |
| m_189 | mujer | 36.8 |

In [217]:
# P2.1. ---------------------------------------------------------------------
## Respuesta:
casosh <- readRDS("temp_h.rds") # Recuerde que el archivo de estar en su directorio de trabajo
casosm<- readRDS("temp_m.rds")

#dataframe mujeres
casos_nn <- data.frame(
                       temp = casosm,
                     id = names(casosm) )

casos_nn$genero <- rep(c("mujer"), length.out=580)  

casos_nn

ls(casos_nn)
save(casosh,casosm,casos_nn, file= "evaluacion_1.RData")

      temp     id    genero
m_326 35.96257 m_326 mujer
m_560 36.04833 m_560 mujer
m_98  36.08442 m_98  mujer
m_228 36.41125 m_228 mujer
m_188 36.40215 m_188 mujer
m_26  37.92205 m_26  mujer
m_82  38.12691 m_82  mujer
m_33  36.44434 m_33  mujer
m_315 36.14878 m_315 mujer
m_373 36.32539 m_373 mujer
m_323 36.12443 m_323 mujer
m_75  37.75737 m_75  mujer
m_576 37.08425 m_576 mujer
m_14  36.15865 m_14  mujer
m_437 36.25619 m_437 mujer
m_360 36.93631 m_360 mujer
m_379 36.05629 m_379 mujer
m_390 37.91808 m_390 mujer
m_455 36.59729 m_455 mujer
m_469 36.22831 m_469 mujer
m_547 36.60472 m_547 mujer
m_502 36.88004 m_502 mujer
m_509 35.94075 m_509 mujer
m_221 36.20753 m_221 mujer
m_265 36.43835 m_265 mujer
m_290 35.95470 m_290 mujer
m_336 36.71523 m_336 mujer
m_141 37.34642 m_141 mujer
m_361 36.48058 m_361 mujer
m_505 37.01530 m_505 mujer
⋮     ⋮        ⋮     ⋮
m_529 38.48144 m_529 mujer
m_460 36.17130 m_460 mujer
m_374 37.56965 m_374 mujer
m_166 36.56824 m_166 mujer
m_23  36.22640 m_23  mujer
m_282 36.89106 m_282 mujer
m_191 36.85213 m_191 mujer
m_567 35.66216 m_567 mujer
m_553 36.67180 m_553 mujer
m_376 36.72666 m_376 mujer
m_7   37.83369 m_7   mujer
m_568 36.52582 m_568 mujer
m_194 36.75482 m_194 mujer
m_244 37.88480 m_244 mujer
m_396 37.78936 m_396 mujer
m_278 37.15172 m_278 mujer
m_273 35.61317 m_273 mujer
m_291 38.68882 m_291 mujer
m_438 36.87731 m_438 mujer
m_189 37.18911 m_189 mujer
m_525 38.15172 m_525 mujer
m_145 36.41734 m_145 mujer
m_544 36.15553 m_544 mujer
m_474 37.09358 m_474 mujer
m_55  35.96110 m_55  mujer
m_192 39.17966 m_192 mujer
m_436 38.47477 m_436 mujer
m_415 36.80741 m_415 mujer
m_403 37.40099 m_403 mujer
m_452 35.69154 m_452 mujer

[1] "genero" "id"     "temp"

In [218]:

nchar(casos_nn$temp)

  [1] 16 16 16 16 16 16 15 16 15 16 16 16 16 16 16 16 16 16 16 16 16 16 16 16 16
 [26] 16 16 16 16 16 16 16 16 16 16 16 16 16 16 16 16 16 16 16 16 16 16 16 16 16
 [51] 16 16 16 16 16 16 16 16 16 16 16 16 16 16 16 16 16 16 16 16 16 16 16 16 16
 [76] 16 16 16 16 16 16 15 16 16 16 16 16 14 16 16 16 16 16 16 16 16 16 16 16 15
[101] 16 16 16 16 16 16 16 16 16 16 16 16 16 16 16 16 16 16 16 16 16 16 16 16 16
[126] 16 16 16 16 16 16 16 15 16 16 16 16 15 16 16 16 16 16 16 16 14 16 16 16 16
[151] 16 16 15 16 16 16 16 16 16 16 15 16 16 16 15 16 16 16 16 16 16 16 16 16 16
[176] 16 16 16 16 16 16 16 16 16 16 16 16 16 16 15 16 16 16 16 16 16 16 15 15 15
[201] 16 16 15 16 16 15 16 16 16 16 16 16 16 16 16 16 16 16 16 16 16 16 16 16 15
[226] 16 16 16 16 16 16 16 16 16 16 16 16 16 16 16 16 16 16 16 16 16 16 16 16 16
[251] 16 16 15 16 16 16 16 16 16 16 16 16 16 16 16 16 16 16 15 16 16 16 16 16 16
[276] 16 16 16 16 16 16 16 16 16 16 16 16 16 16 16 16 16 16 16 16 16 16 16 16 15
[301] 16 16 16 16 16 16 16 16 16 16 15 16 15 16 16 16 16 16 16 16 16 16 16 16 16
[326] 16 16 16 16 16 16 16 16 16 16 16 16 16 16 16 16 16 16 16 16 16 16 16 16 16
[351] 15 16 16 16 16 16 16 16 15 16 16 16 16 16 16 16 16 16 16 16 16 16 15 16 16
[376] 16 16 16 16 15 16 15 16 16 16 16 16 16 16 16 16 16 16 16 16 16 15 16 16 16
[401] 15 16 16 16 16 16 16 16 16 16 16 16 16 16 16 16 16 16 16 16 16 16 16 16 16
[426] 16 15 16 16 16 16 14 16 15 16 16 16 16 16 16 16 16 16 16 16 16 16 16 16 15
[451] 16 15 16 16 16 16 15 16 16 16 16 16 15 16 16 16 16 16 16 16 16 16 16 16 16
[476] 16 16 15 15 16 15 16 16 16 16 16 16 16 16 16 16 16 16 15 16 15 16 16 16 16
[501] 16 16 16 16 16 16 16 16 16 16 16 16 16 16 16 15 16 16 16 16 16 16 16 16 16
[526] 16 16 16 16 16 16 15 16 16 16 16 16 16 15 16 16 16 15 16 16 16 16 16 16 16
[551] 16 16 16 16 16 16 16 16 16 16 16 16 16 16 16 16 16 16 16 16 16 16 16 16 16
[576] 16 16 16 16 16

In [221]:
#pasar los valores numericos de temp a temperatura
casos_nn$temperatura <- as.double(substring(casos_nn$temp,1,8))

casos_nn 

save(casos_nn, file = "evaluacion_1.RData")

      temp     id    genero temperatura
m_326 35.96257 m_326 mujer  35.96256
m_560 36.04833 m_560 mujer  36.04832
m_98  36.08442 m_98  mujer  36.08441
m_228 36.41125 m_228 mujer  36.41124
m_188 36.40215 m_188 mujer  36.40214
m_26  37.92205 m_26  mujer  37.92204
m_82  38.12691 m_82  mujer  38.12691
m_33  36.44434 m_33  mujer  36.44433
m_315 36.14878 m_315 mujer  36.14878
m_373 36.32539 m_373 mujer  36.32538
m_323 36.12443 m_323 mujer  36.12443
m_75  37.75737 m_75  mujer  37.75737
m_576 37.08425 m_576 mujer  37.08425
m_14  36.15865 m_14  mujer  36.15864
m_437 36.25619 m_437 mujer  36.25619
m_360 36.93631 m_360 mujer  36.93630
m_379 36.05629 m_379 mujer  36.05628
m_390 37.91808 m_390 mujer  37.91807
m_455 36.59729 m_455 mujer  36.59728
m_469 36.22831 m_469 mujer  36.22831
m_547 36.60472 m_547 mujer  36.60472
m_502 36.88004 m_502 mujer  36.88004
m_509 35.94075 m_509 mujer  35.94075
m_221 36.20753 m_221 mujer  36.20752
m_265 36.43835 m_265 mujer  36.43835
m_290 35.95470 m_290 mujer  35.95470
m_336 36.71523 m_336 mujer  36.71523
m_141 37.34642 m_141 mujer  37.34641
m_361 36.48058 m_361 mujer  36.48057
m_505 37.01530 m_505 mujer  37.01530
⋮     ⋮        ⋮     ⋮      ⋮
m_529 38.48144 m_529 mujer  38.48143
m_460 36.17130 m_460 mujer  36.17130
m_374 37.56965 m_374 mujer  37.56965
m_166 36.56824 m_166 mujer  36.56824
m_23  36.22640 m_23  mujer  36.22640
m_282 36.89106 m_282 mujer  36.89106
m_191 36.85213 m_191 mujer  36.85213
m_567 35.66216 m_567 mujer  35.66215
m_553 36.67180 m_553 mujer  36.67180
m_376 36.72666 m_376 mujer  36.72665
m_7   37.83369 m_7   mujer  37.83368
m_568 36.52582 m_568 mujer  36.52582
m_194 36.75482 m_194 mujer  36.75481
m_244 37.88480 m_244 mujer  37.88480
m_396 37.78936 m_396 mujer  37.78936
m_278 37.15172 m_278 mujer  37.15172
m_273 35.61317 m_273 mujer  35.61317
m_291 38.68882 m_291 mujer  38.68882
m_438 36.87731 m_438 mujer  36.87731
m_189 37.18911 m_189 mujer  37.18911
m_525 38.15172 m_525 mujer  38.15172
m_145 36.41734 m_145 mujer  36.41733
m_544 36.15553 m_544 mujer  36.15552
m_474 37.09358 m_474 mujer  37.09358
m_55  35.96110 m_55  mujer  35.96109
m_192 39.17966 m_192 mujer  39.17965
m_436 38.47477 m_436 mujer  38.47477
m_415 36.80741 m_415 mujer  36.80741
m_403 37.40099 m_403 mujer  37.40098
m_452 35.69154 m_452 mujer  35.69153

In [211]:
#dataframe hombres
casos_nm <- data.frame(
                       temp = casosh,
                     id = names(casosh) )

casos_nm$genero <- rep(c("hombre"), length.out=650)  

 
ls(casos_nm)

#pasar los valores numericos de temp a temperatura
nchar(casos_nm$temp)
casos_nm$temperatura <-as.double(substring(casos_nm$temp,1,8))
casos_nm

save(casos_nm, file= "evaluacion_1.RData")

[1] "genero" "id"     "temp"

  [1] 16 16 16 16 16 16 16 16 16 16 16 16 16 16 16 16 16 16 16 16 16 16 16 16 15
 [26] 16 16 16 16 16 16 16 16 16 16 16 15 16 16 16 16 16 16 16 16 16 16 16 16 16
 [51] 16 16 16 16 16 16 16 16 16 16 16 16 15 16 16 16 16 16 16 16 16 16 16 15 15
 [76] 16 16 16 16 16 16 16 16 16 16 16 15 16 16 16 16 16 16 16 16 16 16 15 16 16
[101] 16 16 16 16 16 15 16 16 16 16 16 16 16 16 16 16 16 16 15 16 15 16 16 16 16
[126] 15 16 16 16 16 16 16 16 15 16 16 16 16 16 16 16 15 16 16 16 16 16 16 16 16
[151] 16 16 16 16 16 16 16 16 16 16 15 16 16 15 16 16 16 16 16 16 15 16 16 16 16
[176] 16 16 16 16 16 15 16 15 16 16 16 16 16 16 14 16 16 16 14 16 16 16 16 16 16
[201] 16 16 16 16 16 16 16 15 16 16 16 16 16 16 16 16 16 15 13 16 16 16 16 16 16
[226] 16 16 16 16 16 16 16 16 16 16 16 16 16 16 16 16 16 16 16 16 16 16 16 16 16
[251] 16 16 16 16 16 16 16 16 16 16 16 15 16 16 16 16 16 16 16 16 16 16 16 16 16
[276] 16 16 16 16 16 16 15 16 16 16 15 16 15 16 16 16 16 16 16 16 16 16 16 16 16
[301] 16 16 16 16 15 16 16 16 16 16 16 16 16 16 16 16 15 15 16 16 16 16 16 15 16
[326] 16 16 16 16 16 16 16 15 16 16 16 16 16 16 16 16 16 16 16 16 15 16 16 16 16
[351] 16 16 16 16 16 16 16 15 16 16 16 16 16 16 16 16 16 16 16 12 16 16 16 16 16
[376] 16 16 15 16 16 16 16 16 16 16 16 16 16 16 16 16 16 15 15 16 16 16 16 16 16
[401] 15 16 16 16 16 14 16 16 16 16 16 16 16 16 16 16 16 16 16 16 15 16 16 16 16
[426] 15 16 16 16 16 16 16 16 16 16 16 16 16 16 16 16 16 16 16 16 16 16 16 16 16
[451] 16 16 16 15 16 16 16 16 16 16 16 16 15 16 16 16 16 16 16 16 16 16 16 16 16
[476] 16 16 15 16 16 16 16 16 16 16 14 16 16 16 16 15 16 16 16 16 16 16 15 16 16
[501] 16 16 16 16 16 15 16 16 16 15 16 16 16 16 16 16 16 16 15 16 16 16 16 16 16
[526] 16 16 15 16 16 16 16 16 16 16 16 16 16 16 16 16 16 16 16 16 16 16 16 16 16
[551] 16 16 16 16 16 15 16 16 16 16 16 16 16 16 15 16 16 16 16 16 16 16 16 16 16
[576] 16 16 16 16 16 16 16 16 16 16 16 16 16 16 16 16 16 16 16 16 15 16 15 16 16
[601] 16 16 16 16 16 16 16 16 16 16 15 15 16 16 16 16 16 15 16 15 15 16 16 16 16
[626] 16 16 16 16 16 16 16 16 16 16 16 16 16 15 16 16 14 16 14 16 16 16 15 14 16

      temp     id    genero temperatura
h_377 39.32619 h_377 hombre 39.32618
h_28  36.52849 h_28  hombre 36.52848
h_20  36.97699 h_20  hombre 36.97699
h_491 39.26491 h_491 hombre 39.26491
h_403 36.19782 h_403 hombre 36.19781
h_128 36.47809 h_128 hombre 36.47809
h_600 35.85077 h_600 hombre 35.85077
h_402 35.77059 h_402 hombre 35.77058
h_64  38.39027 h_64  hombre 38.39026
h_473 36.94031 h_473 hombre 36.94030
h_633 36.29565 h_633 hombre 36.29565
h_540 38.18633 h_540 hombre 38.18632
h_429 36.05868 h_429 hombre 36.05867
h_253 38.06187 h_253 hombre 38.06187
h_75  36.95333 h_75  hombre 36.95333
h_514 38.52378 h_514 hombre 38.52378
h_231 35.74277 h_231 hombre 35.74277
h_16  41.06936 h_16  hombre 41.06935
h_84  38.62839 h_84  hombre 38.62839
h_348 35.82393 h_348 hombre 35.82393
h_338 35.65520 h_338 hombre 35.65520
h_60  37.79450 h_60  hombre 37.79450
h_415 38.00586 h_415 hombre 38.00585
h_344 36.71711 h_344 hombre 36.71710
h_115 35.70526 h_115 hombre 35.70526
h_355 35.64720 h_355 hombre 35.64720
h_523 36.39534 h_523 hombre 36.39534
h_189 37.45506 h_189 hombre 37.45505
h_143 37.64950 h_143 hombre 37.64950
h_468 36.89740 h_468 hombre 36.89739
⋮     ⋮        ⋮     ⋮      ⋮
h_238 38.68701 h_238 hombre 38.68701
h_308 36.68449 h_308 hombre 36.68449
h_432 36.55389 h_432 hombre 36.55388
h_233 38.89270 h_233 hombre 38.89270
h_571 35.93986 h_571 hombre 35.93986
h_591 36.57278 h_591 hombre 36.57278
h_641 38.46236 h_641 hombre 38.46235
h_645 38.46998 h_645 hombre 38.46998
h_359 36.20828 h_359 hombre 36.20827
h_575 40.77710 h_575 hombre 40.77710
h_573 37.57796 h_573 hombre 37.57795
h_312 40.52078 h_312 hombre 40.52078
h_219 37.22974 h_219 hombre 37.22974
h_426 37.04236 h_426 hombre 37.04235
h_38  38.90832 h_38  hombre 38.90832
h_299 36.34273 h_299 hombre 36.34272
h_229 38.81152 h_229 hombre 38.81152
h_130 36.40191 h_130 hombre 36.40191
h_386 38.28395 h_386 hombre 38.28395
h_363 38.08040 h_363 hombre 38.08039
h_182 41.05413 h_182 hombre 41.05412
h_191 37.71509 h_191 hombre 37.71509
h_45  37.43904 h_45  hombre 37.43904
h_137 38.31471 h_137 hombre 38.31470
h_625 36.53900 h_625 hombre 36.53899
h_272 39.80723 h_272 hombre 39.80723
h_558 39.82728 h_558 hombre 39.82728
h_421 38.58349 h_421 hombre 38.58349
h_534 37.01769 h_534 hombre 37.01769
h_371 40.01713 h_371 hombre 40.01713

In [222]:
# unir la data de hombre y mujer

data_unida <- merge(x = casos_nn, y = casos_nm, all = TRUE)
data_unida

save(data_unida, file = "evaluacion_1.RData")

#se crea un unico dataframe con 1230 filas

     temp     id    genero temperatura
1    35.60252 m_574 mujer  35.60252
2    35.60330 m_6   mujer  35.60329
3    35.60490 h_63  hombre 35.60490
4    35.61005 m_445 mujer  35.61005
5    35.61042 h_476 hombre 35.61041
6    35.61317 m_273 mujer  35.61317
7    35.61562 h_100 hombre 35.61561
8    35.61755 h_570 hombre 35.61754
9    35.61759 h_183 hombre 35.61758
10   35.62004 h_406 hombre 35.62004
11   35.62039 h_134 hombre 35.62038
12   35.62317 m_542 mujer  35.62316
13   35.62552 m_96  mujer  35.62552
14   35.62639 h_165 hombre 35.62638
15   35.62791 h_71  hombre 35.62791
16   35.62969 h_520 hombre 35.62969
17   35.63106 h_584 hombre 35.63106
18   35.63708 m_177 mujer  35.63708
19   35.63908 m_77  mujer  35.63908
20   35.64546 m_50  mujer  35.64545
21   35.64720 h_355 hombre 35.64720
22   35.65025 m_543 mujer  35.65025
23   35.65301 m_140 mujer  35.65300
24   35.65520 h_338 hombre 35.65520
25   35.66008 h_101 hombre 35.66007
26   35.66135 m_217 mujer  35.66134
27   35.66216 m_567 mujer  35.66215
28   35.66458 h_562 hombre 35.66458
29   35.66693 m_355 mujer  35.66692
30   35.66777 m_142 mujer  35.66777
⋮    ⋮        ⋮     ⋮      ⋮
1201 40.45367 h_48  hombre 40.45366
1202 40.47002 h_487 hombre 40.47002
1203 40.50183 h_646 hombre 40.50183
1204 40.50481 h_260 hombre 40.50480
1205 40.52078 h_312 hombre 40.52078
1206 40.71403 h_387 hombre 40.71403
1207 40.77421 h_17  hombre 40.77421
1208 40.77710 h_575 hombre 40.77710
1209 40.77840 h_72  hombre 40.77839
1210 40.84828 h_408 hombre 40.84828
1211 40.91499 h_492 hombre 40.91498
1212 40.95220 h_265 hombre 40.95220
1213 40.96823 h_337 hombre 40.96822
1214 41.01239 h_39  hombre 41.01238
1215 41.05413 h_182 hombre 41.05412
1216 41.06936 h_16  hombre 41.06935
1217 41.08103 h_420 hombre 41.08102
1218 41.11949 h_574 hombre 41.11948
1219 41.29181 h_246 hombre 41.29181
1220 41.40354 h_186 hombre 41.40353
1221 41.42245 h_94  hombre 41.42245
1222 41.46855 h_496 hombre 41.46854
1223 41.47627 h_569 hombre 41.47626
1224 41.51457 h_479 hombre 41.51457
1225 41.60445 h_634 hombre 41.60445
1226 41.82817 h_188 hombre 41.82817
1227 41.88432 h_464 hombre 41.88432
1228 41.93538 h_517 hombre 41.93537
1229 41.99342 h_335 hombre 41.99342
1230 43.27991 h_204 hombre 43.27990

In [223]:
#ahora se deben mostrar solo las columnas de id, genero y temperatura
data_ordenada <- data_unida[data_unida$genero != " ", c("id", "genero", "temperatura")]
data_ordenada
save(data_ordenada, file= "evaluacion_1.RData")
#se da respuesta a la pregunta 2.1 creando un data frame de 3 columnas y 1230 filas

     id    genero temperatura
1    m_574 mujer  35.60252
2    m_6   mujer  35.60329
3    h_63  hombre 35.60490
4    m_445 mujer  35.61005
5    h_476 hombre 35.61041
6    m_273 mujer  35.61317
7    h_100 hombre 35.61561
8    h_570 hombre 35.61754
9    h_183 hombre 35.61758
10   h_406 hombre 35.62004
11   h_134 hombre 35.62038
12   m_542 mujer  35.62316
13   m_96  mujer  35.62552
14   h_165 hombre 35.62638
15   h_71  hombre 35.62791
16   h_520 hombre 35.62969
17   h_584 hombre 35.63106
18   m_177 mujer  35.63708
19   m_77  mujer  35.63908
20   m_50  mujer  35.64545
21   h_355 hombre 35.64720
22   m_543 mujer  35.65025
23   m_140 mujer  35.65300
24   h_338 hombre 35.65520
25   h_101 hombre 35.66007
26   m_217 mujer  35.66134
27   m_567 mujer  35.66215
28   h_562 hombre 35.66458
29   m_355 mujer  35.66692
30   m_142 mujer  35.66777
⋮    ⋮     ⋮      ⋮
1201 h_48  hombre 40.45366
1202 h_487 hombre 40.47002
1203 h_646 hombre 40.50183
1204 h_260 hombre 40.50480
1205 h_312 hombre 40.52078
1206 h_387 hombre 40.71403
1207 h_17  hombre 40.77421
1208 h_575 hombre 40.77710
1209 h_72  hombre 40.77839
1210 h_408 hombre 40.84828
1211 h_492 hombre 40.91498
1212 h_265 hombre 40.95220
1213 h_337 hombre 40.96822
1214 h_39  hombre 41.01238
1215 h_182 hombre 41.05412
1216 h_16  hombre 41.06935
1217 h_420 hombre 41.08102
1218 h_574 hombre 41.11948
1219 h_246 hombre 41.29181
1220 h_186 hombre 41.40353
1221 h_94  hombre 41.42245
1222 h_496 hombre 41.46854
1223 h_569 hombre 41.47626
1224 h_479 hombre 41.51457
1225 h_634 hombre 41.60445
1226 h_188 hombre 41.82817
1227 h_464 hombre 41.88432
1228 h_517 hombre 41.93537
1229 h_335 hombre 41.99342
1230 h_204 hombre 43.27990

In [126]:
install.packages("datos")

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

## Pregunta 2.2

Adicionalmente, se cuenta con la información de síntomas presentados por cada presona registrada. Esta información se encuentra disponible en el archivo `sintomas.rds`.

**2a) (1pt)** Cargue el archivo `sintomas.rds` en una variable llamada _sintomas_.<br>
**2b) (1pt)** ¿Cuál es la clase de este objeto?.<br>
**2c) (1pt)** Note que cada fila undica con un 1 si la persona presentó el respectivo síntoma y 0 si no. ¿Qué sintomas presentó la persona ubicada en el registro 450?.<br>
**2d) (2pts)** ¿Qué síntomas y qué temperatura presentó la persona con id "h_537"?. Si es le es de utilidad puede utilizar la función `rownames()`, la cual permite obtener los nombres (id) de las filas de una matriz.<br>

In [284]:
# P2 .2
## Respuestas:
### Respuesta 2.2a
sintomas<- readRDS("sintomas.rds")
sintomas

###Respuesta 2.2b
class(sintomas) # es una matriz y  su atributo dim es array
#la matriz tiene 1230 filas y 5 columnas
typeof(sintomas) # es doble


save(sintomas, file="evaluacion_1.RData")

      temperatura tiene_tos tiene_dolor_cabeza tiene_perdida_olfato
h_377 39.32619    0         0                  0
h_28  36.52849    1         1                  0
h_20  36.97699    0         0                  1
h_491 39.26491    1         1                  1
h_403 36.19782    0         0                  1
h_128 36.47809    1         1                  1
h_600 35.85077    0         0                  0
h_402 35.77059    0         1                  1
h_64  38.39027    1         1                  1
h_473 36.94031    0         0                  0
h_633 36.29565    1         1                  0
h_540 38.18633    1         1                  1
h_429 36.05868    0         0                  0
h_253 38.06187    0         0                  1
h_75  36.95333    0         1                  0
h_514 38.52378    1         0                  1
h_231 35.74277    0         1                  1
h_16  41.06936    1         1                  1
h_84  38.62839    0         1                  0
h_348 35.82393    0         0                  0
h_338 35.65520    0         0                  0
h_60  37.79450    1         0                  1
h_415 38.00586    1         0                  1
h_344 36.71711    1         0                  1
h_115 35.70526    1         1                  1
h_355 35.64720    0         1                  0
h_523 36.39534    1         1                  0
h_189 37.45506    0         1                  0
h_143 37.64950    1         1                  1
h_468 36.89740    1         1                  0
⋮     ⋮           ⋮         ⋮                  ⋮
m_529 38.48144    0         0                  1
m_460 36.17130    0         0                  0
m_374 37.56965    1         1                  1
m_166 36.56824    0         0                  0
m_23  36.22640    0         1                  0
m_282 36.89106    0         1                  0
m_191 36.85213    0         0                  1
m_567 35.66216    0         1                  0
m_553 36.67180    0         0                  0
m_376 36.72666    0         1                  1
m_7   37.83369    1         1                  1
m_568 36.52582    1         1                  1
m_194 36.75482    0         1                  0
m_244 37.88480    1         1                  1
m_396 37.78936    1         1                  1
m_278 37.15172    0         0                  1
m_273 35.61317    1         1                  0
m_291 38.68882    1         1                  1
m_438 36.87731    0         0                  0
m_189 37.18911    0         1                  0
m_525 38.15172    1         1                  1
m_145 36.41734    0         1                  0
m_544 36.15553    0         0                  0
m_474 37.09358    0         1                  0
m_55  35.96110    0         1                  1
m_192 39.17966    1         1                  1
m_436 38.47477    1         1                  1
m_415 36.80741    1         1                  0
m_403 37.40099    1         1                  1
m_452 35.69154    0         0                  0
      tiene_dolor_pecho
h_377 1
h_28  0
h_20  0
h_491 1
h_403 0
h_128 0
h_600 0
h_402 0
h_64  1
h_473 0
h_633 0
h_540 1
h_429 0
h_253 1
h_75  0
h_514 0
h_231 0
h_16  1
h_84  1
h_348 0
h_338 0
h_60  1
h_415 1
h_344 0
h_115 0
h_355 0
h_523 0
h_189 1
h_143 1
h_468 0
⋮     ⋮
m_529 1
m_460 1
m_374 1
m_166 0
m_23  0
m_282 0
m_191 0
m_567 0
m_553 0
m_376 0
m_7   1
m_568 0
m_194 0
m_244 0
m_396 1
m_278 0
m_273 0
m_291 1
m_438 0
m_189 0
m_525 0
m_145 0
m_544 0
m_474 0
m_55  0
m_192 0
m_436 1
m_415 0
m_403 1
m_452 0

[1] "matrix" "array"

[1] "double"

In [300]:
##Respuesta 2.2.c
#la persona ubicada en el registro 450 presento:
#presento todos los sintomas
#para responder cuantos sintomas tiene el registro 450, se pasa la matriz a data.frame
#procedimiento: se convierte la matriz en data.frame
data_mat <- as.data.frame(sintomas)
data_mat

save(data_mat, file="evaluacion_1.RData")

      temperatura tiene_tos tiene_dolor_cabeza tiene_perdida_olfato
h_377 39.32619    0         0                  0
h_28  36.52849    1         1                  0
h_20  36.97699    0         0                  1
h_491 39.26491    1         1                  1
h_403 36.19782    0         0                  1
h_128 36.47809    1         1                  1
h_600 35.85077    0         0                  0
h_402 35.77059    0         1                  1
h_64  38.39027    1         1                  1
h_473 36.94031    0         0                  0
h_633 36.29565    1         1                  0
h_540 38.18633    1         1                  1
h_429 36.05868    0         0                  0
h_253 38.06187    0         0                  1
h_75  36.95333    0         1                  0
h_514 38.52378    1         0                  1
h_231 35.74277    0         1                  1
h_16  41.06936    1         1                  1
h_84  38.62839    0         1                  0
h_348 35.82393    0         0                  0
h_338 35.65520    0         0                  0
h_60  37.79450    1         0                  1
h_415 38.00586    1         0                  1
h_344 36.71711    1         0                  1
h_115 35.70526    1         1                  1
h_355 35.64720    0         1                  0
h_523 36.39534    1         1                  0
h_189 37.45506    0         1                  0
h_143 37.64950    1         1                  1
h_468 36.89740    1         1                  0
⋮     ⋮           ⋮         ⋮                  ⋮
m_529 38.48144    0         0                  1
m_460 36.17130    0         0                  0
m_374 37.56965    1         1                  1
m_166 36.56824    0         0                  0
m_23  36.22640    0         1                  0
m_282 36.89106    0         1                  0
m_191 36.85213    0         0                  1
m_567 35.66216    0         1                  0
m_553 36.67180    0         0                  0
m_376 36.72666    0         1                  1
m_7   37.83369    1         1                  1
m_568 36.52582    1         1                  1
m_194 36.75482    0         1                  0
m_244 37.88480    1         1                  1
m_396 37.78936    1         1                  1
m_278 37.15172    0         0                  1
m_273 35.61317    1         1                  0
m_291 38.68882    1         1                  1
m_438 36.87731    0         0                  0
m_189 37.18911    0         1                  0
m_525 38.15172    1         1                  1
m_145 36.41734    0         1                  0
m_544 36.15553    0         0                  0
m_474 37.09358    0         1                  0
m_55  35.96110    0         1                  1
m_192 39.17966    1         1                  1
m_436 38.47477    1         1                  1
m_415 36.80741    1         1                  0
m_403 37.40099    1         1                  1
m_452 35.69154    0         0                  0
      tiene_dolor_pecho
h_377 1
h_28  0
h_20  0
h_491 1
h_403 0
h_128 0
h_600 0
h_402 0
h_64  1
h_473 0
h_633 0
h_540 1
h_429 0
h_253 1
h_75  0
h_514 0
h_231 0
h_16  1
h_84  1
h_348 0
h_338 0
h_60  1
h_415 1
h_344 0
h_115 0
h_355 0
h_523 0
h_189 1
h_143 1
h_468 0
⋮     ⋮
m_529 1
m_460 1
m_374 1
m_166 0
m_23  0
m_282 0
m_191 0
m_567 0
m_553 0
m_376 0
m_7   1
m_568 0
m_194 0
m_244 0
m_396 1
m_278 0
m_273 0
m_291 1
m_438 0
m_189 0
m_525 0
m_145 0
m_544 0
m_474 0
m_55  0
m_192 0
m_436 1
m_415 0
m_403 1
m_452 0

In [301]:
#se crea la columna reg para saber el numero de cada registro
data_mat$reg <- c(1:1230)


data_mat

names(data_mat)

      temperatura tiene_tos tiene_dolor_cabeza tiene_perdida_olfato
h_377 39.32619    0         0                  0
h_28  36.52849    1         1                  0
h_20  36.97699    0         0                  1
h_491 39.26491    1         1                  1
h_403 36.19782    0         0                  1
h_128 36.47809    1         1                  1
h_600 35.85077    0         0                  0
h_402 35.77059    0         1                  1
h_64  38.39027    1         1                  1
h_473 36.94031    0         0                  0
h_633 36.29565    1         1                  0
h_540 38.18633    1         1                  1
h_429 36.05868    0         0                  0
h_253 38.06187    0         0                  1
h_75  36.95333    0         1                  0
h_514 38.52378    1         0                  1
h_231 35.74277    0         1                  1
h_16  41.06936    1         1                  1
h_84  38.62839    0         1                  0
h_348 35.82393    0         0                  0
h_338 35.65520    0         0                  0
h_60  37.79450    1         0                  1
h_415 38.00586    1         0                  1
h_344 36.71711    1         0                  1
h_115 35.70526    1         1                  1
h_355 35.64720    0         1                  0
h_523 36.39534    1         1                  0
h_189 37.45506    0         1                  0
h_143 37.64950    1         1                  1
h_468 36.89740    1         1                  0
⋮     ⋮           ⋮         ⋮                  ⋮
m_529 38.48144    0         0                  1
m_460 36.17130    0         0                  0
m_374 37.56965    1         1                  1
m_166 36.56824    0         0                  0
m_23  36.22640    0         1                  0
m_282 36.89106    0         1                  0
m_191 36.85213    0         0                  1
m_567 35.66216    0         1                  0
m_553 36.67180    0         0                  0
m_376 36.72666    0         1                  1
m_7   37.83369    1         1                  1
m_568 36.52582    1         1                  1
m_194 36.75482    0         1                  0
m_244 37.88480    1         1                  1
m_396 37.78936    1         1                  1
m_278 37.15172    0         0                  1
m_273 35.61317    1         1                  0
m_291 38.68882    1         1                  1
m_438 36.87731    0         0                  0
m_189 37.18911    0         1                  0
m_525 38.15172    1         1                  1
m_145 36.41734    0         1                  0
m_544 36.15553    0         0                  0
m_474 37.09358    0         1                  0
m_55  35.96110    0         1                  1
m_192 39.17966    1         1                  1
m_436 38.47477    1         1                  1
m_415 36.80741    1         1                  0
m_403 37.40099    1         1                  1
m_452 35.69154    0         0                  0
      tiene_dolor_pecho reg
h_377 1                  1
h_28  0                  2
h_20  0                  3
h_491 1                  4
h_403 0                  5
h_128 0                  6
h_600 0                  7
h_402 0                  8
h_64  1                  9
h_473 0                 10
h_633 0                 11
h_540 1                 12
h_429 0                 13
h_253 1                 14
h_75  0                 15
h_514 0                 16
h_231 0                 17
h_16  1                 18
h_84  1                 19
h_348 0                 20
h_338 0                 21
h_60  1                 22
h_415 1                 23
h_344 0                 24
h_115 0                 25
h_355 0                 26
h_523 0                 27
h_189 1                 28
h_143 1                 29
h_468 0                 30
⋮     ⋮                 ⋮
m_529 1                 1201
m_460 1                 1202
m_374 1                 1203
m_166 0                 1204
m_23  0                 1205
m_282 0                 1206
m_191 0                 1207
m_567 0                 1208
m_553 0                 1209
m_376 0                 1210
m_7   1                 1211
m_568 0                 1212
m_194 0                 1213
m_244 0                 1214
m_396 1                 1215
m_278 0                 1216
m_273 0                 1217
m_291 1                 1218
m_438 0                 1219
m_189 0                 1220
m_525 0                 1221
m_145 0                 1222
m_544 0                 1223
m_474 0                 1224
m_55  0                 1225
m_192 0                 1226
m_436 1                 1227
m_415 0                 1228
m_403 1                 1229
m_452 0                 1230

[1] "temperatura"          "tiene_tos"            "tiene_dolor_cabeza"
[4] "tiene_perdida_olfato" "tiene_dolor_pecho"    "reg"

In [303]:
#se crean la columna registro y la columna genero a partir de la columna V6 
data_mat$genero <- NULL

data_mat

      temperatura tiene_tos tiene_dolor_cabeza tiene_perdida_olfato
h_377 39.32619    0         0                  0
h_28  36.52849    1         1                  0
h_20  36.97699    0         0                  1
h_491 39.26491    1         1                  1
h_403 36.19782    0         0                  1
h_128 36.47809    1         1                  1
h_600 35.85077    0         0                  0
h_402 35.77059    0         1                  1
h_64  38.39027    1         1                  1
h_473 36.94031    0         0                  0
h_633 36.29565    1         1                  0
h_540 38.18633    1         1                  1
h_429 36.05868    0         0                  0
h_253 38.06187    0         0                  1
h_75  36.95333    0         1                  0
h_514 38.52378    1         0                  1
h_231 35.74277    0         1                  1
h_16  41.06936    1         1                  1
h_84  38.62839    0         1                  0
h_348 35.82393    0         0                  0
h_338 35.65520    0         0                  0
h_60  37.79450    1         0                  1
h_415 38.00586    1         0                  1
h_344 36.71711    1         0                  1
h_115 35.70526    1         1                  1
h_355 35.64720    0         1                  0
h_523 36.39534    1         1                  0
h_189 37.45506    0         1                  0
h_143 37.64950    1         1                  1
h_468 36.89740    1         1                  0
⋮     ⋮           ⋮         ⋮                  ⋮
m_529 38.48144    0         0                  1
m_460 36.17130    0         0                  0
m_374 37.56965    1         1                  1
m_166 36.56824    0         0                  0
m_23  36.22640    0         1                  0
m_282 36.89106    0         1                  0
m_191 36.85213    0         0                  1
m_567 35.66216    0         1                  0
m_553 36.67180    0         0                  0
m_376 36.72666    0         1                  1
m_7   37.83369    1         1                  1
m_568 36.52582    1         1                  1
m_194 36.75482    0         1                  0
m_244 37.88480    1         1                  1
m_396 37.78936    1         1                  1
m_278 37.15172    0         0                  1
m_273 35.61317    1         1                  0
m_291 38.68882    1         1                  1
m_438 36.87731    0         0                  0
m_189 37.18911    0         1                  0
m_525 38.15172    1         1                  1
m_145 36.41734    0         1                  0
m_544 36.15553    0         0                  0
m_474 37.09358    0         1                  0
m_55  35.96110    0         1                  1
m_192 39.17966    1         1                  1
m_436 38.47477    1         1                  1
m_415 36.80741    1         1                  0
m_403 37.40099    1         1                  1
m_452 35.69154    0         0                  0
      tiene_dolor_pecho reg
h_377 1                  1
h_28  0                  2
h_20  0                  3
h_491 1                  4
h_403 0                  5
h_128 0                  6
h_600 0                  7
h_402 0                  8
h_64  1                  9
h_473 0                 10
h_633 0                 11
h_540 1                 12
h_429 0                 13
h_253 1                 14
h_75  0                 15
h_514 0                 16
h_231 0                 17
h_16  1                 18
h_84  1                 19
h_348 0                 20
h_338 0                 21
h_60  1                 22
h_415 1                 23
h_344 0                 24
h_115 0                 25
h_355 0                 26
h_523 0                 27
h_189 1                 28
h_143 1                 29
h_468 0                 30
⋮     ⋮                 ⋮
m_529 1                 1201
m_460 1                 1202
m_374 1                 1203
m_166 0                 1204
m_23  0                 1205
m_282 0                 1206
m_191 0                 1207
m_567 0                 1208
m_553 0                 1209
m_376 0                 1210
m_7   1                 1211
m_568 0                 1212
m_194 0                 1213
m_244 0                 1214
m_396 1                 1215
m_278 0                 1216
m_273 0                 1217
m_291 1                 1218
m_438 0                 1219
m_189 0                 1220
m_525 0                 1221
m_145 0                 1222
m_544 0                 1223
m_474 0                 1224
m_55  0                 1225
m_192 0                 1226
m_436 1                 1227
m_415 0                 1228
m_403 1                 1229
m_452 0                 1230

In [304]:
save(data_mat, file="evaluacion_1.RData")

In [310]:
 data_mat$registro_s <- rownames(data_mat)
 data_mat
 save(data_mat, file="evaluacion_1.RData")

      temperatura tiene_tos tiene_dolor_cabeza tiene_perdida_olfato
h_377 39.32619    0         0                  0
h_28  36.52849    1         1                  0
h_20  36.97699    0         0                  1
h_491 39.26491    1         1                  1
h_403 36.19782    0         0                  1
h_128 36.47809    1         1                  1
h_600 35.85077    0         0                  0
h_402 35.77059    0         1                  1
h_64  38.39027    1         1                  1
h_473 36.94031    0         0                  0
h_633 36.29565    1         1                  0
h_540 38.18633    1         1                  1
h_429 36.05868    0         0                  0
h_253 38.06187    0         0                  1
h_75  36.95333    0         1                  0
h_514 38.52378    1         0                  1
h_231 35.74277    0         1                  1
h_16  41.06936    1         1                  1
h_84  38.62839    0         1                  0
h_348 35.82393    0         0                  0
h_338 35.65520    0         0                  0
h_60  37.79450    1         0                  1
h_415 38.00586    1         0                  1
h_344 36.71711    1         0                  1
h_115 35.70526    1         1                  1
h_355 35.64720    0         1                  0
h_523 36.39534    1         1                  0
h_189 37.45506    0         1                  0
h_143 37.64950    1         1                  1
h_468 36.89740    1         1                  0
⋮     ⋮           ⋮         ⋮                  ⋮
m_529 38.48144    0         0                  1
m_460 36.17130    0         0                  0
m_374 37.56965    1         1                  1
m_166 36.56824    0         0                  0
m_23  36.22640    0         1                  0
m_282 36.89106    0         1                  0
m_191 36.85213    0         0                  1
m_567 35.66216    0         1                  0
m_553 36.67180    0         0                  0
m_376 36.72666    0         1                  1
m_7   37.83369    1         1                  1
m_568 36.52582    1         1                  1
m_194 36.75482    0         1                  0
m_244 37.88480    1         1                  1
m_396 37.78936    1         1                  1
m_278 37.15172    0         0                  1
m_273 35.61317    1         1                  0
m_291 38.68882    1         1                  1
m_438 36.87731    0         0                  0
m_189 37.18911    0         1                  0
m_525 38.15172    1         1                  1
m_145 36.41734    0         1                  0
m_544 36.15553    0         0                  0
m_474 37.09358    0         1                  0
m_55  35.96110    0         1                  1
m_192 39.17966    1         1                  1
m_436 38.47477    1         1                  1
m_415 36.80741    1         1                  0
m_403 37.40099    1         1                  1
m_452 35.69154    0         0                  0
      tiene_dolor_pecho reg  registro_s
h_377 1                  1   h_377
h_28  0                  2   h_28
h_20  0                  3   h_20
h_491 1                  4   h_491
h_403 0                  5   h_403
h_128 0                  6   h_128
h_600 0                  7   h_600
h_402 0                  8   h_402
h_64  1                  9   h_64
h_473 0                 10   h_473
h_633 0                 11   h_633
h_540 1                 12   h_540
h_429 0                 13   h_429
h_253 1                 14   h_253
h_75  0                 15   h_75
h_514 0                 16   h_514
h_231 0                 17   h_231
h_16  1                 18   h_16
h_84  1                 19   h_84
h_348 0                 20   h_348
h_338 0                 21   h_338
h_60  1                 22   h_60
h_415 1                 23   h_415
h_344 0                 24   h_344
h_115 0                 25   h_115
h_355 0                 26   h_355
h_523 0                 27   h_523
h_189 1                 28   h_189
h_143 1                 29   h_143
h_468 0                 30   h_468
⋮     ⋮                 ⋮    ⋮
m_529 1                 1201 m_529
m_460 1                 1202 m_460
m_374 1                 1203 m_374
m_166 0                 1204 m_166
m_23  0                 1205 m_23
m_282 0                 1206 m_282
m_191 0                 1207 m_191
m_567 0                 1208 m_567
m_553 0                 1209 m_553
m_376 0                 1210 m_376
m_7   1                 1211 m_7
m_568 0                 1212 m_568
m_194 0                 1213 m_194
m_244 0                 1214 m_244
m_396 1                 1215 m_396
m_278 0                 1216 m_278
m_273 0                 1217 m_273
m_291 1                 1218 m_291
m_438 0                 1219 m_438
m_189 0                 1220 m_189
m_525 0                 1221 m_525
m_145 0                 1222 m_145
m_544 0                 1223 m_544
m_474 0                 1224 m_474
m_55  0                 1225 m_55
m_192 0                 1226 m_192
m_436 1                 1227 m_436
m_415 0                 1228 m_415
m_403 1                 1229 m_403
m_452 0                 1230 m_452

In [311]:
data_filtro <- data_mat[data_mat$reg ==450, c("reg","temperatura","tiene_tos", "tiene_dolor_cabeza", "tiene_perdida_olfato", "tiene_dolor_pecho", "registro_s")]
data_filtro
#respuesta pregunta 2.2c
#la persona ubicada en el registro 450 es hombre, y presento todos los sintomas como son:
#fiebre(39), tos, dolor de cabeza, perdida de olfato y dolor en el pecho

save(data_filtro, file="evaluacion_1.RData")

      reg temperatura tiene_tos tiene_dolor_cabeza tiene_perdida_olfato
h_236 450 38.85178    1         1                  1
      tiene_dolor_pecho registro_s
h_236 1                 h_236

In [313]:
## Respuesta 2.2d
#para filtrar

filtro_nf <- data_mat[data_mat$registro_s =="h_537", c("registro_s","temperatura",
"tiene_tos", "tiene_dolor_cabeza", "tiene_perdida_olfato", "tiene_dolor_pecho")]
filtro_nf

#la persona cuyo registro de fila es h_537 es hombre y solo presenta como sintoma dolor de pecho

save(filtro_nf, file = "evaluacion_1.RData")

      registro_s temperatura tiene_tos tiene_dolor_cabeza tiene_perdida_olfato
h_537 h_537      36.6998     0         0                  0
      tiene_dolor_pecho
h_537 1

In [322]:
#filtrar quienes tienen fiebre

filtro_temperatura <- data_mat[data_mat$temperatura >= 38.5, c("temperatura")]
filtro_temperatura
length(filtro_temperatura)

#solo 201 personas presentan fiebre

  [1] 39.32619 39.26491 38.52378 41.06936 38.62839 38.86914 39.18346 38.76688
  [9] 38.71580 39.76958 40.27869 40.71403 38.71755 39.47890 41.11949 38.85432
 [17] 38.90207 40.96823 40.77421 38.77720 38.71862 39.32535 39.83995 39.73631
 [25] 39.67140 38.77527 39.05138 39.17519 38.65935 38.54940 39.75940 38.89225
 [33] 38.96491 39.17209 39.20497 39.00267 39.15104 39.47367 39.32355 40.26658
 [41] 39.74621 38.88973 40.11297 39.36490 39.35833 39.07550 41.93538 38.62908
 [49] 39.67215 40.84828 40.00610 39.28755 39.78280 38.76915 38.88541 39.24061
 [57] 38.78867 40.77840 38.98201 38.77271 38.88784 38.70759 40.24348 41.46855
 [65] 38.56924 38.60199 39.77099 38.84405 38.66131 39.11667 38.73399 38.72855
 [73] 39.48018 39.29130 38.82302 40.45367 38.90645 40.31250 39.81594 39.41226
 [81] 38.62852 39.30092 38.94855 38.87032 39.87234 39.34364 39.68259 41.82817
 [89] 41.88432 39.82422 40.04535 41.60445 38.54885 39.07057 41.99342 40.47002
 [97] 39.53802 39.66140 39.48913 38.66632 38.70535 38.65396 38.82656 41.51457
[105] 40.10099 40.50481 39.48867 38.90124 39.42158 38.76317 39.62038 38.99816
[113] 39.54642 41.42245 38.85178 39.55182 39.11031 40.95220 41.08103 39.39746
[121] 39.46999 39.07300 39.50806 41.40354 39.56908 40.50183 38.92573 39.11533
[129] 39.11257 40.10825 38.62153 39.33771 38.71732 38.96302 41.47627 39.10976
[137] 40.91499 40.41134 39.30766 39.04406 39.23360 38.62363 39.71368 38.85050
[145] 43.27991 38.96146 41.29181 38.71110 38.52872 38.60688 39.91039 39.76415
[153] 41.01239 39.39024 38.83137 38.68701 38.89270 40.77710 40.52078 38.90832
[161] 38.81152 41.05413 39.80723 39.82728 38.58349 40.01713 38.94007 38.53656
[169] 39.41274 38.65332 38.88400 38.93273 39.05080 38.57455 39.15490 39.38204
[177] 38.52880 38.55013 39.99406 38.55614 38.82254 39.39568 38.59061 38.68877
[185] 39.67102 38.81265 38.95570 38.88702 38.82533 38.73888 39.31449 38.97611
[193] 38.58160 38.61102 39.24966 38.70737 38.54348 39.13544 39.00079 38.68882
[201] 39.17966

[1] 201

## Nota de utilidad

Ya sea trabajando con un vector, matriz, data.frame o lista, es posible omitir la selección de alguna(s) de sus posiciones (filas/columnas o slots). Esto se puede llevar a cabo de diversas maneras, por ejemplo:

In [229]:
# Primero creamos un vector, una matriz, un data.frame  y una lista 

vec <- c(v1 = 1, v2 = 2, v3 = 3,v4 = 4)
mat <- cbind(c(1,1),c(2,2),c(3,3),c(4,4) ) ; rownames(mat) <- c("f1","f2"); colnames(mat) <- c("c1","c2","c3","c4")
dat <- as.data.frame(mat)
lis <- list(s1 = c(1,1), s2 = c(2,2), s3 = c(3,3) , s4 = c(4,4))

### Omisión por posición

In [ ]:
#Si queremos omitir el primer y tercer elmento del vector y la lista
vec[-c(1,3)]
lis[-c(1,3)]

# Misma idea si queremos omitir columnas de una matriz (o data.frame)
mat[,-c(1,3)]
dat[,-c(1,3)]

### Omisión por nombres

In [ ]:
# Por ahora tendremos que ubicar las posiciones de los nombres deseados.

pos_vec <- which(names(vec) %in% c("v1","v3"))
pos_lis <- which(names(lis) %in% c("s1","s3"))
pos_mat <- which(colnames(mat) %in% c("c1","c3"))
pos_dat <- which(names(dat) %in% c("c1","c3"))

vec[-pos_vec]
lis[-pos_lis]

# Misma idea si queremos omitir columnas de una matriz (o data.frame)
mat[,-pos_mat]
dat[,-pos_dat]

Más adelante veremos otras alternivas, como por ejemplo, utilizando funciones del package `dplyr`.

## Pregunta 2.3

Con la ayuda de las funciones `rowSums()` y `colSums()`, identifique lo siguiente.

  **3a) (3pt)** ¿Cuántos registros presentaron exactamente los 4 síntomas?<br>
  **3b) (1pt)** ¿Cúantas personas presentaron tos? <br>
  **3c) (2pt)** ¿Cuál es el síntoma más frecuente?<br>

In [388]:
data_mat$fiebre <- ifelse(data_mat$temperatura >= 38.5, 1,0)
#data_mat
#data_mat$Coinciden <-
calculo_sintomas <- data_mat[data_mat$reg >=1, c("fiebre",
"tiene_tos", "tiene_dolor_cabeza", "tiene_perdida_olfato", "tiene_dolor_pecho")]
#calculo_sintomas

calculo_sintomas$coinciden <- ifelse(calculo_sintomas$tiene_tos == 1 & 
calculo_sintomas$tiene_dolor_cabeza == 1 & calculo_sintomas$tiene_perdida_olfato == 1
 & calculo_sintomas$tiene_dolor_pecho == 1, 1 , 0)
#calculo_sintomas
filtro_coincidencia <- calculo_sintomas[calculo_sintomas$coinciden == 1, c("tiene_tos", 
"tiene_dolor_cabeza", "tiene_perdida_olfato", "tiene_dolor_pecho","coinciden")]
filtro_coincidencia

#Respuesta 2.3a:
#coinciden 229 registros

save(data_mat, calculo_sintomas, filtro_coincidencia, file = "evaluacion_1.RData")

      tiene_tos tiene_dolor_cabeza tiene_perdida_olfato tiene_dolor_pecho
h_491 1         1                  1                    1
h_64  1         1                  1                    1
h_540 1         1                  1                    1
h_16  1         1                  1                    1
h_143 1         1                  1                    1
h_370 1         1                  1                    1
h_78  1         1                  1                    1
h_54  1         1                  1                    1
h_609 1         1                  1                    1
h_157 1         1                  1                    1
h_583 1         1                  1                    1
h_390 1         1                  1                    1
h_565 1         1                  1                    1
h_329 1         1                  1                    1
h_333 1         1                  1                    1
h_564 1         1                  1                    1
h_192 1         1                  1                    1
h_574 1         1                  1                    1
h_17  1         1                  1                    1
h_509 1         1                  1                    1
h_200 1         1                  1                    1
h_598 1         1                  1                    1
h_214 1         1                  1                    1
h_586 1         1                  1                    1
h_334 1         1                  1                    1
h_459 1         1                  1                    1
h_536 1         1                  1                    1
h_187 1         1                  1                    1
h_354 1         1                  1                    1
h_640 1         1                  1                    1
⋮     ⋮         ⋮                  ⋮                    ⋮
m_417 1         1                  1                    1
m_327 1         1                  1                    1
m_22  1         1                  1                    1
m_106 1         1                  1                    1
m_277 1         1                  1                    1
m_422 1         1                  1                    1
m_87  1         1                  1                    1
m_237 1         1                  1                    1
m_195 1         1                  1                    1
m_125 1         1                  1                    1
m_457 1         1                  1                    1
m_197 1         1                  1                    1
m_190 1         1                  1                    1
m_216 1         1                  1                    1
m_381 1         1                  1                    1
m_64  1         1                  1                    1
m_133 1         1                  1                    1
m_127 1         1                  1                    1
m_378 1         1                  1                    1
m_175 1         1                  1                    1
m_500 1         1                  1                    1
m_89  1         1                  1                    1
m_428 1         1                  1                    1
m_107 1         1                  1                    1
m_374 1         1                  1                    1
m_7   1         1                  1                    1
m_396 1         1                  1                    1
m_291 1         1                  1                    1
m_436 1         1                  1                    1
m_403 1         1                  1                    1
      coinciden
h_491 1
h_64  1
h_540 1
h_16  1
h_143 1
h_370 1
h_78  1
h_54  1
h_609 1
h_157 1
h_583 1
h_390 1
h_565 1
h_329 1
h_333 1
h_564 1
h_192 1
h_574 1
h_17  1
h_509 1
h_200 1
h_598 1
h_214 1
h_586 1
h_334 1
h_459 1
h_536 1
h_187 1
h_354 1
h_640 1
⋮     ⋮
m_417 1
m_327 1
m_22  1
m_106 1
m_277 1
m_422 1
m_87  1
m_237 1
m_195 1
m_125 1
m_457 1
m_197 1
m_190 1
m_216 1
m_381 1
m_64  1
m_133 1
m_127 1
m_378 1
m_175 1
m_500 1
m_89  1
m_428 1
m_107 1
m_374 1
m_7   1
m_396 1
m_291 1
m_436 1
m_403 1

In [318]:
##Respuestas b y c:

colSums(sintomas[ ,2:5])

#2.3b:
#608 personas tienen tos

#2.3c:
#el sintoma mas frecuente es perdida del olfato

           tiene_tos   tiene_dolor_cabeza tiene_perdida_olfato
                 608                  750                  673
   tiene_dolor_pecho
                 519

## Pregunta 2.4

**4a) (1pt)** La función `as.data.frame()` permite coercionar un objeto de otra clase a `data.frame`.
cree una variable llamada `sintomas_df` con la información  de sintomas pero como data.frame.<br>
**4b) (1pts)**
Se puede observar que los ids solo están disponibles en los nombres de las filas. Sin embargo esútil tener esta información como una columna más de la tabla. Para ello **cree una nueva columna en la tabla sintomas_df** llamada `id` que contenga los ids de cada registro. 

NOTA: El orden de las filas no ha variado por lo que podemos añadir la columna sin mayores precauciones.<br>
**4c) (2pts)** ¿Cuántas personas **sólo** presentaron tos y dolor de cabeza?<br>
**4d) (1pt)** Se sabe que una persona tiene fiebre cuando su temperatura es mayor o igual a los 37.2°. **Cree una nueva columna en la tabla sintomas_df** llamada `tiene_fiebre` que contenga `TRUE` cuando tiene fiebre y `FALSE` en caso contrario.

In [398]:
# P4
#Respuestas:
#Respuesta 2.4a
sintomas_df <- as.data.frame(sintomas)
#sintomas_df

#respuestas 2.4.b
ls(sintomas_df)
 sintomas_df$id <- rownames(sintomas_df)
 sintomas_df

 save(sintomas_df, file= "evaluacion_1.RData")

[1] "temperatura"          "tiene_dolor_cabeza"   "tiene_dolor_pecho"
[4] "tiene_perdida_olfato" "tiene_tos"

      temperatura tiene_tos tiene_dolor_cabeza tiene_perdida_olfato
h_377 39.32619    0         0                  0
h_28  36.52849    1         1                  0
h_20  36.97699    0         0                  1
h_491 39.26491    1         1                  1
h_403 36.19782    0         0                  1
h_128 36.47809    1         1                  1
h_600 35.85077    0         0                  0
h_402 35.77059    0         1                  1
h_64  38.39027    1         1                  1
h_473 36.94031    0         0                  0
h_633 36.29565    1         1                  0
h_540 38.18633    1         1                  1
h_429 36.05868    0         0                  0
h_253 38.06187    0         0                  1
h_75  36.95333    0         1                  0
h_514 38.52378    1         0                  1
h_231 35.74277    0         1                  1
h_16  41.06936    1         1                  1
h_84  38.62839    0         1                  0
h_348 35.82393    0         0                  0
h_338 35.65520    0         0                  0
h_60  37.79450    1         0                  1
h_415 38.00586    1         0                  1
h_344 36.71711    1         0                  1
h_115 35.70526    1         1                  1
h_355 35.64720    0         1                  0
h_523 36.39534    1         1                  0
h_189 37.45506    0         1                  0
h_143 37.64950    1         1                  1
h_468 36.89740    1         1                  0
⋮     ⋮           ⋮         ⋮                  ⋮
m_529 38.48144    0         0                  1
m_460 36.17130    0         0                  0
m_374 37.56965    1         1                  1
m_166 36.56824    0         0                  0
m_23  36.22640    0         1                  0
m_282 36.89106    0         1                  0
m_191 36.85213    0         0                  1
m_567 35.66216    0         1                  0
m_553 36.67180    0         0                  0
m_376 36.72666    0         1                  1
m_7   37.83369    1         1                  1
m_568 36.52582    1         1                  1
m_194 36.75482    0         1                  0
m_244 37.88480    1         1                  1
m_396 37.78936    1         1                  1
m_278 37.15172    0         0                  1
m_273 35.61317    1         1                  0
m_291 38.68882    1         1                  1
m_438 36.87731    0         0                  0
m_189 37.18911    0         1                  0
m_525 38.15172    1         1                  1
m_145 36.41734    0         1                  0
m_544 36.15553    0         0                  0
m_474 37.09358    0         1                  0
m_55  35.96110    0         1                  1
m_192 39.17966    1         1                  1
m_436 38.47477    1         1                  1
m_415 36.80741    1         1                  0
m_403 37.40099    1         1                  1
m_452 35.69154    0         0                  0
      tiene_dolor_pecho id
h_377 1                 h_377
h_28  0                 h_28
h_20  0                 h_20
h_491 1                 h_491
h_403 0                 h_403
h_128 0                 h_128
h_600 0                 h_600
h_402 0                 h_402
h_64  1                 h_64
h_473 0                 h_473
h_633 0                 h_633
h_540 1                 h_540
h_429 0                 h_429
h_253 1                 h_253
h_75  0                 h_75
h_514 0                 h_514
h_231 0                 h_231
h_16  1                 h_16
h_84  1                 h_84
h_348 0                 h_348
h_338 0                 h_338
h_60  1                 h_60
h_415 1                 h_415
h_344 0                 h_344
h_115 0                 h_115
h_355 0                 h_355
h_523 0                 h_523
h_189 1                 h_189
h_143 1                 h_143
h_468 0                 h_468
⋮     ⋮                 ⋮
m_529 1                 m_529
m_460 1                 m_460
m_374 1                 m_374
m_166 0                 m_166
m_23  0                 m_23
m_282 0                 m_282
m_191 0                 m_191
m_567 0                 m_567
m_553 0                 m_553
m_376 0                 m_376
m_7   1                 m_7
m_568 0                 m_568
m_194 0                 m_194
m_244 0                 m_244
m_396 1                 m_396
m_278 0                 m_278
m_273 0                 m_273
m_291 1                 m_291
m_438 0                 m_438
m_189 0                 m_189
m_525 0                 m_525
m_145 0                 m_145
m_544 0                 m_544
m_474 0                 m_474
m_55  0                 m_55
m_192 0                 m_192
m_436 1                 m_436
m_415 0                 m_415
m_403 1                 m_403
m_452 0                 m_452

In [399]:
#respuesta 2.4.c
 #cuantas personas presentaron solo tos y dolor de cabeza
sintomas_df$coinciden <- ifelse(sintomas_df$tiene_tos == 1 & 
sintomas_df$tiene_dolor_cabeza == 1, 1 , 0)
suma_tos_dcabeza <- sintomas_df[sintomas_df$coinciden ==1, c("tiene_tos", "tiene_dolor_cabeza")]
suma_tos_dcabeza
save(sintomas_df,suma_tos_dcabeza, file= "evaluacion_1.RData")
#494 personas tienen tos y dolor de cabeza juntos

      tiene_tos tiene_dolor_cabeza
h_28  1         1
h_491 1         1
h_128 1         1
h_64  1         1
h_633 1         1
h_540 1         1
h_16  1         1
h_115 1         1
h_523 1         1
h_143 1         1
h_468 1         1
h_370 1         1
h_142 1         1
h_611 1         1
h_626 1         1
h_78  1         1
h_65  1         1
h_177 1         1
h_54  1         1
h_609 1         1
h_157 1         1
h_181 1         1
h_472 1         1
h_590 1         1
h_327 1         1
h_107 1         1
h_583 1         1
h_73  1         1
h_387 1         1
h_390 1         1
⋮     ⋮         ⋮
m_64  1         1
m_193 1         1
m_133 1         1
m_506 1         1
m_386 1         1
m_206 1         1
m_127 1         1
m_378 1         1
m_175 1         1
m_400 1         1
m_395 1         1
m_122 1         1
m_500 1         1
m_94  1         1
m_89  1         1
m_155 1         1
m_428 1         1
m_107 1         1
m_374 1         1
m_7   1         1
m_568 1         1
m_244 1         1
m_396 1         1
m_273 1         1
m_291 1         1
m_525 1         1
m_192 1         1
m_436 1         1
m_415 1         1
m_403 1         1

## Pregunta 2.4

**4a) (1pt)** La función `as.data.frame()` permite coercionar un objeto de otra clase a `data.frame`.
cree una variable llamada `sintomas_df` con la información  de sintomas pero como data.frame.<br>
**4b) (1pts)**
Se puede observar que los ids solo están disponibles en los nombres de las filas. Sin embargo esútil tener esta información como una columna más de la tabla. Para ello **cree una nueva columna en la tabla sintomas_df** llamada `id` que contenga los ids de cada registro. 

NOTA: El orden de las filas no ha variado por lo que podemos añadir la columna sin mayores precauciones.<br>
**4c) (2pts)** ¿Cuántas personas **sólo** presentaron tos y dolor de cabeza?<br>
**4d) (1pt)** Se sabe que una persona tiene fiebre cuando su temperatura es mayor o igual a los 37.2°. **Cree una nueva columna en la tabla sintomas_df** llamada `tiene_fiebre` que contenga `TRUE` cuando tiene fiebre y `FALSE` en caso contrario.

In [400]:
#respuesta pregunta 2.4d
sintomas_df$tiene_fiebre <- ifelse(sintomas_df$temperatura >= 37.2, TRUE, FALSE)
sintomas_df

save(sintomas_df,file= "evaluacion_1.RData")

      temperatura tiene_tos tiene_dolor_cabeza tiene_perdida_olfato
h_377 39.32619    0         0                  0
h_28  36.52849    1         1                  0
h_20  36.97699    0         0                  1
h_491 39.26491    1         1                  1
h_403 36.19782    0         0                  1
h_128 36.47809    1         1                  1
h_600 35.85077    0         0                  0
h_402 35.77059    0         1                  1
h_64  38.39027    1         1                  1
h_473 36.94031    0         0                  0
h_633 36.29565    1         1                  0
h_540 38.18633    1         1                  1
h_429 36.05868    0         0                  0
h_253 38.06187    0         0                  1
h_75  36.95333    0         1                  0
h_514 38.52378    1         0                  1
h_231 35.74277    0         1                  1
h_16  41.06936    1         1                  1
h_84  38.62839    0         1                  0
h_348 35.82393    0         0                  0
h_338 35.65520    0         0                  0
h_60  37.79450    1         0                  1
h_415 38.00586    1         0                  1
h_344 36.71711    1         0                  1
h_115 35.70526    1         1                  1
h_355 35.64720    0         1                  0
h_523 36.39534    1         1                  0
h_189 37.45506    0         1                  0
h_143 37.64950    1         1                  1
h_468 36.89740    1         1                  0
⋮     ⋮           ⋮         ⋮                  ⋮
m_529 38.48144    0         0                  1
m_460 36.17130    0         0                  0
m_374 37.56965    1         1                  1
m_166 36.56824    0         0                  0
m_23  36.22640    0         1                  0
m_282 36.89106    0         1                  0
m_191 36.85213    0         0                  1
m_567 35.66216    0         1                  0
m_553 36.67180    0         0                  0
m_376 36.72666    0         1                  1
m_7   37.83369    1         1                  1
m_568 36.52582    1         1                  1
m_194 36.75482    0         1                  0
m_244 37.88480    1         1                  1
m_396 37.78936    1         1                  1
m_278 37.15172    0         0                  1
m_273 35.61317    1         1                  0
m_291 38.68882    1         1                  1
m_438 36.87731    0         0                  0
m_189 37.18911    0         1                  0
m_525 38.15172    1         1                  1
m_145 36.41734    0         1                  0
m_544 36.15553    0         0                  0
m_474 37.09358    0         1                  0
m_55  35.96110    0         1                  1
m_192 39.17966    1         1                  1
m_436 38.47477    1         1                  1
m_415 36.80741    1         1                  0
m_403 37.40099    1         1                  1
m_452 35.69154    0         0                  0
      tiene_dolor_pecho id    coinciden tiene_fiebre
h_377 1                 h_377 0          TRUE
h_28  0                 h_28  1         FALSE
h_20  0                 h_20  0         FALSE
h_491 1                 h_491 1          TRUE
h_403 0                 h_403 0         FALSE
h_128 0                 h_128 1         FALSE
h_600 0                 h_600 0         FALSE
h_402 0                 h_402 0         FALSE
h_64  1                 h_64  1          TRUE
h_473 0                 h_473 0         FALSE
h_633 0                 h_633 1         FALSE
h_540 1                 h_540 1          TRUE
h_429 0                 h_429 0         FALSE
h_253 1                 h_253 0          TRUE
h_75  0                 h_75  0         FALSE
h_514 0                 h_514 0          TRUE
h_231 0                 h_231 0         FALSE
h_16  1                 h_16  1          TRUE
h_84  1                 h_84  0          TRUE
h_348 0                 h_348 0         FALSE
h_338 0                 h_338 0         FALSE
h_60  1                 h_60  0          TRUE
h_415 1                 h_415 0          TRUE
h_344 0                 h_344 0         FALSE
h_115 0                 h_115 1         FALSE
h_355 0                 h_355 0         FALSE
h_523 0                 h_523 1         FALSE
h_189 1                 h_189 0          TRUE
h_143 1                 h_143 1          TRUE
h_468 0                 h_468 1         FALSE
⋮     ⋮                 ⋮     ⋮         ⋮
m_529 1                 m_529 0          TRUE
m_460 1                 m_460 0         FALSE
m_374 1                 m_374 1          TRUE
m_166 0                 m_166 0         FALSE
m_23  0                 m_23  0         FALSE
m_282 0                 m_282 0         FALSE
m_191 0                 m_191 0         FALSE
m_567 0                 m_567 0         FALSE
m_553 0                 m_553 0         FALSE
m_376 0                 m_376 0         FALSE
m_7   1                 m_7   1          TRUE
m_568 0                 m_568 1         FALSE
m_194 0                 m_194 0         FALSE
m_244 0                 m_244 1          TRUE
m_396 1                 m_396 1          TRUE
m_278 0                 m_278 0         FALSE
m_273 0                 m_273 1         FALSE
m_291 1                 m_291 1          TRUE
m_438 0                 m_438 0         FALSE
m_189 0                 m_189 0         FALSE
m_525 0                 m_525 1          TRUE
m_145 0                 m_145 0         FALSE
m_544 0                 m_544 0         FALSE
m_474 0                 m_474 0         FALSE
m_55  0                 m_55  0         FALSE
m_192 0                 m_192 1          TRUE
m_436 1                 m_436 1          TRUE
m_415 0                 m_415 1         FALSE
m_403 1                 m_403 1          TRUE
m_452 0                 m_452 0         FALSE

## Pregunta 2.4

**4a) (1pt)** La función `as.data.frame()` permite coercionar un objeto de otra clase a `data.frame`.
cree una variable llamada `sintomas_df` con la información  de sintomas pero como data.frame.<br>
**4b) (1pts)**
Se puede observar que los ids solo están disponibles en los nombres de las filas. Sin embargo esútil tener esta información como una columna más de la tabla. Para ello **cree una nueva columna en la tabla sintomas_df** llamada `id` que contenga los ids de cada registro. 

NOTA: El orden de las filas no ha variado por lo que podemos añadir la columna sin mayores precauciones.<br>
**4c) (2pts)** ¿Cuántas personas **sólo** presentaron tos y dolor de cabeza?<br>
**4d) (1pt)** Se sabe que una persona tiene fiebre cuando su temperatura es mayor o igual a los 37.2°. **Cree una nueva columna en la tabla sintomas_df** llamada `tiene_fiebre` que contenga `TRUE` cuando tiene fiebre y `FALSE` en caso contrario.